[2017-04-21 04:14] marklawlor opened #14 "Handling additional GraphQL types"
Is it possible for this library to handle additional GraphQL types such as

- [Input](http://graphql.org/learn/schema/#input-types)
- [Enumeration](http://graphql.org/learn/schema/#enumeration-types)
- [Scalar](http://graphql.org/learn/schema/#scalar-types)

Currently the `mergeTypes` function strips these types, causing me to manually handle them separately

[2017-04-23 15:27] RodMachado commented on #14
Hey @marklawlor,

Version 0.0.9 is now handling `Input`, `Enumeration` and `Scalar` types.

Let me know if it works for you and if you find other scenarios we might need to handle.

Cheers!

[2017-04-23 15:27] #14 closed

[2017-04-25 21:59] tomyitav opened #20 "Merge types with type Subscription"
Let's say I have the following types:

![train](https://cloud.githubusercontent.com/assets/16193919/25409541/06b93c94-2a1b-11e7-84a8-4de82da22448.PNG)

![cars](https://cloud.githubusercontent.com/assets/16193919/25409506/e1cd916e-2a1a-11e7-824b-eeaf0a5b0615.PNG)

and I want to concatenate them -

![concat](https://cloud.githubusercontent.com/assets/16193919/25409577/2d5b74ca-2a1b-11e7-90bf-3bf1dc7

[2017-04-26 00:20] RodMachado commented on #20
Hey @tomyitav,

Please try using version 0.0.9. It should work for you.

Let me know if it doesn't. 😁

Cheers!

[2017-04-27 09:31] tomyitav commented on #20
Thanks for the reply!
But I'm already using version 0.0.9. It isn't working...

[2017-04-28 11:58] RodMachado commented on #20
Hey @tomyitav

It's Fixed! Please use version 0.0.11.

Here's the output of your types with the latest version:

[code]
Let me know if you run into any issues.

Cheers!

[2017-04-28 12:01] #20 closed

[2017-04-29 09:13] tomyitav commented on #20
Great! Thanks @RodMachado !

[2017-05-02 16:45] dyst5422 opened #24 "Merge Named types"
Seeing as there is a clear namespace conflict for having two similarly named types, I think there is no reason not to merge any named type.

[code]
and
[code]
should become
[code]
but instead becomes
[code]

This is less of a concern for these types where you can just use extend, but input types cannot be extended, which makes this string parsing the only way to extend inputs programmatically in t

[2017-05-11 16:19] tlivings opened #31 "Requires babel-runtime"
`Cannot find module 'babel-runtime/helpers/toConsumableArray'`

Consider not implicitly requiring or assuming babel.

[2017-05-15 03:39] RodMachado commented on #24
Hey @dyst5422,

Thanks to a great discussion with @ccuilla,we don't think that merging similarly named types is the way to go. I can only imagine the confusion it could cause when different devs created similarly named types by mistake and those were simple merged together. Something like:

[code]
and somewhere else another dev created:
[code]
Now you have `postalcode` and `zipcode`. Another issue

[2017-05-15 21:15] tlivings commented on #31
The problem is in the transpiled code for merge_resolvers.js as follows:

var _toConsumableArray2 = require('babel-runtime/helpers/toConsumableArray');
I don't think changing the publish behavior will help here.

I would recommend not transpiling all the way back to es2015. The node4 or node6 presets should be fine for your purposes since this is not an isomorphic module in the first place.

Thank

[2017-05-19 18:48] #31 closed

[2017-05-22 14:56] glenarama opened #37 "merge.all for more than two resolvers"
mergeResolvers uses merge(x,y) which takes 2 objects and merges them. For more than two resolvers this will merge the first two only.

merge.all([x,y,z]) works.

[2017-05-22 17:25] ZephD commented on #37
Similarly, merging a single resolver (e.g. work in progress: `mergeResolvers([resolver])`) would be solved by the same thing.

[2017-05-26 15:11] RodMachado commented on #37
@ZephD
Thanks for catching that! Added test scenario and implemented your solution. Bumping to version 0.0.16

[2017-05-26 15:11] #37 closed

[2017-05-26 15:45] RodMachado commented on #24
Closing this one for now. @dyst5422, feel free to reopen it!

Thanks!

[2017-05-26 15:45] #24 closed

[2017-05-28 09:17] akaNightmare opened #40 "Allow using GraphQL 0.10.x"
please change https://github.com/okgrow/merge-graphql-schemas/blob/master/package.json#L53 to ^0.10.0

[2017-05-28 15:40] RodMachado commented on #40
@akaNightmare Done!
Please use version 0.0.17.

Cheers!

[2017-05-28 15:40] #40 closed

[2017-05-30 16:03] dyst5422 commented on #24
I agree with your decision on this one. I happen to have a unique circumstance where it is necessary for me to partially define types in multiple locations. I would also highly recommend that you support extension types via the `extend` keyword.

[2017-05-31 15:21] batjko opened #44 "Comments not showing up"
Hi,

I am adding a bunch of comments to my partial schemas, which are then merged in by using this library's `mergeTypes()` function.

E.g.:
[code]

But in GraphiQL, I cannot see any of them:

![image](https://cloud.githubusercontent.com/assets/7287076/26639559/1436b086-461d-11e7-81b3-6b9aa037cda0.png)

Does the library strip comments during merging?

[2017-05-31 15:40] batjko opened #45 "Reserved words in schema comments cause Syntax error"
Hi,

In addition to my other issue (see #44), when I do add comments to my schemas, those comments seem to crash the schema validation, if they contain reserved words.

I have seen it only with the word `type` so far, at the top of the string, which presumably gets caught as the first "type" occurrence in some regex:
![image](https://cloud.githubusercontent.com/assets/7287076/26640419/91491a6c-461

[2017-06-08 19:31] RodMachado commented on #44
Hi @batjko,

The package was not taking comments into consideration. I'll let you know when I come up with a solution for issues #44 and #45.

Cheers!

[2017-06-16 21:00] RodMachado commented on #45
Hi @batjko,

Please use version 0.0.19. You should get your comments merged with the schema now.

Let me know you run into any issues.

Cheers!

[2017-06-16 21:00] #45 closed

[2017-06-16 21:01] RodMachado commented on #44
Comments are now being merged with the schema. Please use version 0.0.19.

[2017-06-16 21:01] #44 closed

[2017-06-17 16:46] epicallan opened #51 "New release breaks multi line comments"
Hi,
I was using version 0.0.17 of this lib with these sort of types and it worked well

[code]

I updated to 0.0.19 and my build broke, it doesn't support multi-line comments.

[2017-06-18 15:59] RodMachado commented on #51
Hey @epicallan
Thanks for letting us know. I'll take a look ASAP.

Cheers!

[2017-06-19 00:58] RodMachado commented on #51
Hey @epicallan,

Version 0.0.22 should work fine now.
Let me know if you find any other issues.

Cheers!

[2017-06-19 00:58] #51 closed

[2017-06-19 07:51] batjko commented on #44
@RodMachado Thanks for the update.
It now seems to be working for individual fields. But not for the types themselves, yet?
e.g.:

![image](https://user-images.githubusercontent.com/7287076/27274753-8169ab14-54cc-11e7-8150-740cd383773f.png)

![image](https://user-images.githubusercontent.com/7287076/27274736-71465534-54cc-11e7-930b-6412913527f3.png)

[2017-06-19 13:09] RodMachado commented on #44
Hey @batjko,
Please try version 0.0.22. This should work, if not please let me know.

Cheers!

[2017-06-19 13:49] batjko commented on #44
Yup, works as expected now. Many thanks! :bowing_man:

[2017-06-20 04:00] epicallan commented on #51
@RodMachado Worked fine. Thanks

[2017-06-30 00:22] elosoman opened #63 "multiple merges"
Just found your package and have been tooling into my project. My structure
/api/types/uss/index.js
/api/types/rds/index.js
both of these directories hold a set of  type, query and mutations schema and resolvers. I use your merge in each of these groups.

then in /api/typedef.js I use your package to combine the two merges from above and recieve a message during server boot
[code]
and in fact when

[2017-06-30 00:44] elosoman commented on #63
FYI ... looks like i don't have that problem when using .mergeResolvers in the same fashion. I might think this is due to the deepmerge used here?

[2017-06-30 13:25] kamilkisiela commented on #63
Solution #64

[2017-06-30 13:35] #63 closed

[2017-06-30 14:14] RodMachado commented on #63
Hey @elosoman,
Thanks to @kamilkisiela using version 1.1.0 you may now split your types into separate subfolders.
[I've updated the documentation.](https://github.com/okgrow/merge-graphql-schemas#merging-nested-types)

Hope it helps!

Cheers! 🍺

[2017-07-03 15:01] RichardLitt opened #67 "Update GitHub description from 'An utility' to 'A utility'"
Just a small thing. :)

[2017-07-03 16:02] RodMachado commented on #67
Changed, thanks @RichardLitt!

[2017-07-03 16:02] #67 closed

[2017-07-05 20:51] elosoman commented on #63
Sweet ... thanks for the quick turn around! Looks good.

[2017-07-07 12:38] akaNightmare opened #68 "AWS ELB deploying"
When I am trying to deploy on AWS ELB I see next error.
[code]
Why need babel for that?
PS: merge-graphql-schemas 0.0.17 version works fine

[2017-07-07 12:52] cfnelson commented on #68
@akaNightmare What version of `Node` & `merge-graphql-schemas` are you running to cause the above bug?

[2017-07-07 12:53] akaNightmare commented on #68
@cfnelson 7.6.0

[2017-07-07 12:56] cfnelson commented on #68
@akaNightmare Thanks, what version of `merge-graphql-schemas` are you using?

[2017-07-07 12:56] akaNightmare commented on #68
@cfnelson 1.1.0(latest)

[2017-07-07 13:00] cfnelson commented on #68
@akaNightmare 1.0.0+ is using babel-preset "latest-node4", previously it was transpiling for node6+. Do you get the same error on version `0.0.22` of the package?

[2017-07-07 13:01] akaNightmare commented on #68
@cfnelson let me check

[2017-07-07 13:05] tankist commented on #68
Same issue here. Just checked all version since 0.0.17 and found that issue appeared in 0.0.19.

Just compare dist/merge_types.js:

0.0.17:

[code]

and 0.0.19:

[code]

[2017-07-07 13:16] akaNightmare commented on #68
@cfnelson I think something wrong in these commits (https://github.com/okgrow/merge-graphql-schemas/commit/99cb4d83162ee10729d9fd196a5876fe4e41b37d https://github.com/okgrow/merge-graphql-schemas/commit/b63838b6f3be53297bdd28b69e0016b80bc18bfc)

[2017-07-07 20:02] cfnelson commented on #68
@akaNightmare @tankist Would you be able to clone, checkout & test against [fix-babel-transform-runtime](https://github.com/okgrow/merge-graphql-schemas/tree/fix-babel-transform-runtime) branch to see if these changes resolve your issue. Will be making a PR with these changes shortly.

[2017-07-07 20:16] akaNightmare commented on #68
@cfnelson sure

[2017-07-07 20:39] cfnelson commented on #68
@akaNightmare Thanks! I have opened up a PR, which I hope will resolve the issue. Will wait to hear how it goes for you.

[2017-07-07 21:53] tankist commented on #68
[code]

Just checked - it is really do not compile anything on `npm i` - no dist folder at all

[2017-07-07 23:04] cfnelson commented on #68
@tankist Thanks for taking a look!!! how are you currently integrating the branch/code with your app to test? The `/dist` isn't in source control so it will be missing

I have been testing locally by running `npm link` in the cloned repo on the `fix-babel-transform-runtime` branch. Then in my test app I can run `npm link merge-graphql-schemas`.

[2017-07-08 00:41] cfnelson commented on #68
@akaNightmare @tankist I added the `/dist` folder to the branch. You should now be able to test by running this in your project. `npm install -S git://github.com/okgrow/merge-graphql-schemas#fix-babel-transform-runtime`. If you do test it, let me know if it works. 😄

[2017-07-08 18:00] tankist commented on #68
That's exactly how I did it. I've just added the following to the package.json and run npm up:

`"merge-graphql-schemas": "okgrow/merge-graphql-schemas#fix-babel-transform-runtime",`

[2017-07-09 18:21] dan-kez opened #70 "Proposal: Ability to add auth resolvers"
Hello!

First, thank you for making this extremely useful module. It has really helped me keep my code modular.

I've recently been working on adding authorization to my graphql schema (where some queries/ mutation have different read/write permissions). I think it would be really useful to be able to add in the ability to merge an auth resolver mapping. This would really help modularize authoriza

[2017-07-10 00:02] cfnelson commented on #68
@tankist And you are still getting the same ` Error: Cannot find module './dist/index'` ? After doing a clean install? The branch now includes the `/dist` folder and I am unable to reproduce that error any longer.

[2017-07-21 18:12] aarohmankad commented on #68
I'm still getting the issue mentioned in the original post.

Node: v8.1.4
`merge-graphql-schemas`: v1.1.0

[2017-07-21 18:18] cfnelson commented on #68
@aarohmankad  Does PR https://github.com/okgrow/merge-graphql-schemas/pull/69 resolve the bug for you?

If you haven't tried, you can `npm install -S git://github.com/okgrow/merge-graphql-schemas#fix-babel-transform-runtime`.  to use the branch directly.

[2017-07-21 19:07] aarohmankad commented on #68
@cfnelson It does! However, I would really prefer installing a stable module vs. a Github branch.

[2017-07-21 19:19] cfnelson commented on #68
@aarohmankad Will aim to merge this asap (next few hours).

[2017-07-28 20:54] RodMachado commented on #68
@aarohmankad and @akaNightmare
Thank you for your patience. Please use version 1.1.1 and let us know if you run into any issues.

Thanks for the help @cfnelson! 🍺

Cheers!

[2017-07-28 20:54] #68 closed

[2017-07-28 21:02] aarohmankad commented on #68
Looking good for my projects! @RodMachado

[2017-07-28 21:15] RodMachado commented on #70
Hey @dmk255,

Sorry for not responding earlier!

So, if I understood correctly, you would like to create new additional operations (like Query, Mutation and Subscription)? Does this work on a plain GraphQL setup?
Changing the package to parse this information might not be that hard (#FamousLastWords), I'm just not sure if we should.

If you're using Apollo, take a look in the approach using the ap

[2017-08-12 15:13] rdickert opened #73 "Causes fiber errors in Meteor"
The error seen is one of two 'Meteor code must run in a fiber' variants in seemingly random places in an app.

Simply `import`ing the package created the problem - it was not necessary to actually use the functions from the package to see the issue.

There is a work-around: In places where the fiber error is triggered, run

[code]

Then, whenever that error arises, replace any `await someFunction(

[2017-08-17 07:11] ncronquist opened #75 "Proposal: Ability for File Loader to Load Files Recursively"
Hi mgs team!

My team would really like to store our typeDef files as .graphql files and we really like the way the file loader can load all of those files from a directory. We expect our graphql schema to get quite large though so we would like to break up our schema directory into more manageable sub-directories. I thought it would be useful for the file loader to be able to load those files rec

[2017-08-17 12:03] RichardLitt commented on #75
Thanks @ncronquist! This sounds like a great feature to add.

Going off of the [comparison](https://github.com/okgrow/merge-graphql-schemas/compare/master...ncronquist:merge-types-recursively), I don't think it should take too much time to open a PR for this change. I would encourage it.

@RodMachado What do you think?

[2017-08-18 13:05] RichardLitt commented on #75
This can be closed now! Thanks, @ncronquist. Awesome work.

[2017-08-18 13:05] #75 closed

[2017-08-18 13:40] RodMachado commented on #75
@ncronquist
Thanks for the PR! You can use version 1.1.2.

Cheers! 🍻

[2017-08-18 15:19] igor-ribeiro opened #79 "Resolvers not working with `Query: `"
My resolver looks like this and it doesn't work:
[code]

But it works when I set it like this:
[code]

I'm merging this way:
[code]

Am I doing something wrong?

[2017-08-18 15:23] igor-ribeiro commented on #79
These are my types
[code]

[2017-08-18 16:06] ncronquist commented on #75
Awesome, thanks for the quick review and release!

[2017-08-18 16:52] RodMachado commented on #73
Thanks @rdickert! We need to save this information somewhere for other people's reference.

@RichardLitt, where do you think is the best place to do this? A troubleshooting section on the README or maybe a wiki page?

[2017-08-18 17:21] RichardLitt commented on #79
Thanks @igor-ribeiro. Sounds like a bug. We'll look into this as soon as we can.

[2017-08-18 17:25] RichardLitt commented on #73
This would go great in the README. It's not too long for something like this, at the moment. I would add it as a section in `Usage`.

@rdickert want to file a documentation PR to mention this? Would that resolve this issue, for you?

[2017-08-18 17:40] RodMachado commented on #79
Hey @igor-ribeiro,

How many resolvers are there in your './src/graphql/resolvers' folder? My initial thought here is that you're trying to use mergeResolvers with a single resolver.

If that's the case, you should be seeing a deepmerge error, something like `Error: first argument should be an array with at least two elements`.

Is this it? If not, please paste the error you're getting.

Thanks!

[2017-08-18 18:20] igor-ribeiro commented on #79
Hi @RodMachado ,

At first I got this error, but now I have more resolvers. I'm not getting any errors, but I get `null` as a result.

For example, I have this resolver: ```author: () => []```. When I set it inside a `Query` property and query ` users { id }` I get `users: null`. Removing the `Query` I get the expected result `users: []`

[2017-08-18 18:25] igor-ribeiro commented on #79
I had a `console.log` inside the resolver and I figured out that it's not called when is defined like
[code]
[code]

[2017-08-18 19:41] rdickert commented on #73
@RichardLitt @RodMachado I think maybe this issue should be kept, as it's something that should be fixed or seen as a known issue for people who come with the same difficulty. You can keep the open issue as the documentation, IMO, but up to you :)

[2017-08-18 19:44] RichardLitt commented on #73
Works for me. Let's flag it as a bug. The workaround isn't ideal, but it works for now, until we have time to adequately fix this.

[2017-08-20 01:36] euthiago opened #80 "Support for .gql files (mergeTypes)"
Thank you for this super useful module.

Let me suggest a single line change to add support for .gql files when mergin types:

src/file_loader.js line 40
[code]

Since everything is pretty new when it comes to GraphQL, I have no idea if ".gqls" extension would also be used, but ".gql" is already pretty common!

Once again, thank you!

[2017-08-23 09:46] dchambers commented on #70
@RodMachado, while people may choose to take the approach used by [apollo-resolvers](https://github.com/thebigredgeek/apollo-resolvers) it seems wrong to prevent the idiomatic way of doing authentication in GraphQL. Couldn't `mergeTypes` take an optional (defaulted) second parameter containing the `mergeableBaseTypes`?

[2017-08-25 17:49] RodMachado commented on #79
Hey @igor-ribeiro,

I'm still not sure about what is happening. Can you show your server configuration?

[2017-08-25 17:52] RodMachado commented on #80
Hey @euthiago,

I've added `gql` extension to the `fileLoader` as you've suggested. PR #81. I'll let you know when it's published.

Cheers!

[2017-08-25 18:12] euthiago commented on #80
@RodMachado

I appreciate!

(Vlw Rodrigo! hehe)

[2017-08-25 18:27] igor-ribeiro commented on #79
@RodMachado I created a repo for better investigation: https://github.com/igor-ribeiro/graphql-server-example

[2017-08-25 19:15] RodMachado commented on #79
Hey @igor-ribeiro,

It turns out that when you use `graphqlHTTP` you don't really need to have separate keys for Query/Mutation/Subscription in your resolvers object. All you need is to pass a function for each API endpoint. That's why what you were trying is correct.

Our documentation needs to be fixed to warn people about this.

Thanks for catching it!

Cheers!! 🍻

[2017-08-25 19:18] RichardLitt commented on #79
@igor-ribeiro Would you like to make a PR and to become a contributor? If not, I can go ahead and do it. :)

[2017-08-30 12:51] lednhatkhanh opened #84 "Missing parameters description after merging"
I just realized that after merging all my types, the mutation and query's parameter descriptions are gone.

For example:
[code]

becomes this:
[code]

Please fix this asap, thank you!

[2017-08-31 19:14] RichardLitt commented on #84
Thanks @lednhatkhanh. This may be intended functionality. It might be a good idea to add an option for keeping comments when merged.

Would you be interested in helping us make a PR for this? If not, it may take some time before this can be added.

[2017-09-01 13:27] namnm opened #85 "Support for root type Subcription"
Sorry my bad, misspelling.

[2017-09-01 13:29] #85 closed

[2017-09-04 09:24] Shyam-Chen opened #87 "first argument should be an array with at least two elements"

[2017-09-04 09:26] #87 closed

[2017-09-04 11:59] RodMachado commented on #80
@euthiago
Your changes were deployed!

Cheers!

[2017-09-04 11:59] #80 closed

[2017-09-10 14:52] locohost opened #88 "export default `` in schema crashes app"
This drove me crazy for quite a while. Syntax is valid, doesn't seem like anything that would crash the app, but it surely does. You cannot use **export default ` ... `;** (like ALL of your documentation shows) to build your schema file. You MUST use **module.exports = ` .. `;** And don't ever wrap schema in [ ] like a lot of examples show. This also crashes the app.

[2017-09-11 13:33] RichardLitt commented on #88
Thanks for opening an issue @locohost. Can you point us to your fork or implementation, or provide a test case?

[2017-09-15 15:34] cfnelson commented on #88
@locohost It sounds like you might be having an issue with `babel`? The scenario you describe is covered by our tests [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/test/merge_types.test.js).

Are you using babel's [transform-es2015-modules-commonjs](https://babeljs.io/docs/plugins/transform-es2015-modules-commonjs/) plugin? If you are not using or do not want to use `babel` yo

[2017-09-15 15:46] locohost commented on #88
I do have babel installed. Maybe I have the wrong version? Or perhaps I'm missing the plugin you mentioned above? I don't remember installing that. I'll take a look when I get home.

Thanks for the replies. And BTW, merge-graphql-schemas is working well for me now with the fix I mentioned in OP. Just this one weird part threw me when setting it up for first time.

[2017-09-15 16:09] cfnelson commented on #88
@locohost If you want a no fuss setup for ES module support in node, `esm` is worth checking out. I would highly recommend reading the release [blogpost](https://medium.com/web-on-the-edge/es-modules-in-node-today-32cff914e4b) for it.

Would love to hear an update on the `babel` setup situation. What version of `babel`/`node` are you using? If you have any issues with setting up that plugin let us

[2017-09-17 22:50] locohost commented on #79
I have separate type and resolver files for each db model. I'm using the fileloader to load/merge them. I put a throw Error("...") in my resolver, it never hits. Graphiql queries are always null. So this exact thing is happening to me now. What is the solution?

[2017-09-18 00:21] locohost commented on #79
Nevermind, I resolved the issue. Was missing "resolvers:" attrib name in the makeSchema...

`    const schema = makeExecutableSchema({ typeDefs: mergedTypes, resolvers: mergedResolvers });`

[2017-09-18 00:54] RichardLitt commented on #79
Thanks @locohost!

[2017-09-18 00:54] #79 closed

[2017-09-27 04:12] xshadowlegendx opened #91 "Error: "resolver-function" defined in resolvers, but not in schema"
Graphql Structures and entry:

[code]
I have tried to console log typeDefs in the middle of the export. This is the outputs from merging the schemas in typedefs folder:

[code]
Here is my tweet schema type definition in graphql/typedefs/tweet/tweet.js

[code]
tweet resolver

[code]

Error from server console:

[code]

[2017-09-29 13:47] cfnelson commented on #91
@xshadowlegendx Have you been able to resolve your issue? If not, how are you constructing your schema? Your error suggests you are using `makeExecutableSchema` from `graphql-tools`?  Or are you using `buildSchema ` from `graphql`?

[2017-09-30 02:26] xshadowlegendx commented on #91
I am sorry for late reply. I have resolved this issue already. Problem was because I did not specify type Query or Mutation for the resolvers because from the doc telling me that using graphqlHTTP does not need to separate them, which I was mistaken and I actually did not used graphqlHTTP when I check back to my express middleware

[2017-09-30 02:26] #91 closed

[2017-10-04 01:42] erick2014 opened #92 "I don't understand the documentation"
When you are exporting your resolvers, and u do something like:
[code]

What is Product? how is this resolver gets called?

[2017-10-04 04:22] cfnelson commented on #92
@erick2014 The code snippet above is warning about the different format required due to the differing behaviour of using `buildSchema` in conjunction with `graphqlHTTP` vs `makeExecutableSchema` and `Apollo` to setup your graphql server. You can specifically see how the `resolvers` you pasted above are being used in the first server [example](https://github.com/okgrow/merge-graphql-schemas#server-

[2017-10-04 15:42] erick2014 opened #93 "mergeResolvers() fails when find just one resolver file"
I'm not sure if this is a bug, but I think is kind of weird the fact that I cant just have one resolver or mergeResolvers() call will fail

![imagen](https://user-images.githubusercontent.com/7244087/31184979-7591b61a-a8f0-11e7-8150-21e3a7ce853c.png)

![imagen](https://user-images.githubusercontent.com/7244087/31185044-a608e2aa-a8f0-11e7-9500-89197f08a29a.png)

[2017-10-04 15:45] erick2014 commented on #92
Hey thx for your response, I was asking this because I always see resolvers like:
` Query: {
    products: () => {},
    product: () => {},
  },
  Mutation: {
    create_product: () => {},
    update_product: () => {},
  },
  Subscriptions: {
    activeProducts: () => {},
}
`
within a query or a mutation, but never outside of these two, but thx for the explanation

[2017-10-04 18:25] cfnelson commented on #92
@erick2014 Glad I could help .👌  I will admit I was confused the first time I encountered the differences coming from only having used `graphql-tools` and make `makeExecutableSchema` which does a great job at abstracting and providing helpful tools for setting your GraphQL server up.

[2017-10-04 18:25] #92 closed

[2017-10-04 18:37] cfnelson commented on #93
@erick2014 This is currently expected behaviour as we are using [merge.all](https://github.com/KyleAMathews/deepmerge#mergeallarrayofobjects-options) from `deepmerge` which expects an array. Relevant code in our repo is [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/merge_resolvers.js#L3).

Potentially we could change this behaviour if it isn't intuitive. @RodMachado Would

[2017-10-17 16:43] cfnelson commented on #88
@locohost Closing this issue for now, please let us know if you weren't able to resolve and we can reopen. I suspect the cause was due to your setup for `es modules` and not a bug within the package itself.

[2017-10-17 16:43] #88 closed

[2017-10-17 17:17] cfnelson commented on #73
@rdickert @RodMachado I believe this meteor bug has been incorrectly attributed to this package. The bug occurs most commonly in Meteor projects with a custom Babel config and Meteors own preset gets overridden. I  also wanted to add we have a Meteor project using this package without the issue described above.

Going to close this issue for now, I will leave the bug label for the time being but I

[2017-10-17 17:17] #73 closed

[2017-10-17 21:46] RichardLitt commented on #73
@cfnelson That works, too. With that information others can look for this later (even if closed), as needed. Thanks.

[2017-10-18 19:17] benjhoo opened #97 "FileLoader seems not to work in Meteor"
When I use the fileLoader() function in my project, Meteor crash with this issue :

My code is pretty simple :
[code]

The _/imports/api/graphql/types/_ folder really exists and contains 2 JS files with graphql Type (I also tried with .graphql files).

If I import manually my 2 files, the project runs well :
[code]

Any ideas ?
Thanks.

[2017-10-18 19:44] cfnelson commented on #97
@benjhoo Where is the fileLoader file located? `__dirname` will give you the current directory of where it's been executed from.

I believe you just need to fix the path that you are passing to the `fileLoader`. e.g lets assume your code snippet is located in `/imports/startup/server` then `path.join(__dirname, './')` would output `/imports/startup/server/`. Which I suspect isn't what you want.

[2017-10-19 07:20] benjhoo commented on #97
Hi,
Wrong path was indeed the problem.
I though '/' was refering to the meteor project root, not the filesystem one.

Using `path.join(/(.+)\.meteor/.exec(process.cwd())[1], __dirname)` solved my problem.
Thank you.

[2017-10-19 07:20] #97 closed

[2017-10-19 15:29] benjhoo opened #98 "fileLoader crashes when loading js file"
Hey, still me and the fileLoader() function :-)

I have an issue when I use this function to load js file in my Meteor project.

Here one of my graphql types in JS :
[code]
And in my main file which merge the types :
[code]

And Meteor returns me the following error :
[code]

However, if I use .graphql for my types files instead of .js, everything work fine.
If I manually import the types files to

[2017-10-19 20:47] cfnelson commented on #98
@benjhoo Do you have a custom `.babelrc` setup in your Meteor project?

[2017-10-20 06:54] benjhoo commented on #98
@cfnelson No, I don't use any custom `.babelrc`

[2017-10-20 17:50] #93 closed

[2017-10-23 16:12] lifeiscontent opened #101 "mergeResolvers recursive crash"
using graphql-tools to merge resolvers I get an error when merging the types from onTypeConflict.

[code]

[code]

[2017-11-02 05:31] cfnelson commented on #101
@lifeiscontent I apologise for not responding sooner. Are you still having the issue reported above or did you resolve/come up with a work around?

Are the resolvers you are trying to merge extremely large or contain a lot of nesting/deeply nested objects?

To help us better solve this issue would you be able to share an example of the two resolvers you are trying merge so we can test against ours

[2017-11-02 05:34] cfnelson commented on #98
@benjhoo Sorry for the late response. Are you still experiencing this issue? If so are you on the latest release of this package? I suspect that there is something occurring with the meteor setup.

If your able to create a minimal reproduction of this problem it would go a long way to help us resolve the issue.

[2017-11-04 06:07] lifeiscontent commented on #101
@cfnelson hey! thanks for the response.

You can check out my example project here: https://github.com/lifeiscontent/postgraphql-schema-stitching

if you look at this file https://github.com/lifeiscontent/postgraphql-schema-stitching/blob/master/server/src/schema.js

graphql-tools mergeSchemas function takes an onTypeConflict arg, if you use that with merge-graphql-schemas, you can reproduce the e

[2017-11-09 13:53] schmetzyannick opened #104 "Not working with graphql actual version"
When i want to install ( npm install --save merge-graphql-schemas ), I am getting the error:
+-- UNMET PEER DEPENDENCY graphql@0.11.7
`-- merge-graphql-schemas@1.3.0

npm WARN merge-graphql-schemas@1.3.0 requires a peer of graphql@^0.10.3 but none was installed.

[2017-11-09 14:12] RichardLitt commented on #104
Thanks for logging, @schmetzyannick. Can you try installing the package, and let us know if it works?

[code]

[2017-11-09 14:13] RichardLitt commented on #104
This may be fixed by #103.

[2017-11-09 18:03] cfnelson commented on #104
@schmetzyannick What version of `merge-graphql-schemas` do you have installed?

[2017-11-13 15:46] benjhoo commented on #98
Hi @cfnelson
My turn to be sorry for the late response, I was on holidays.

Yes, unfortunately, I still have this issue.
I have the latest release of the package : 1.3.0
Maybe it's a compatibility problem with Meteor packages.
_merge-graphql-schemas_ is looking for graphql@0.10.3, while 0.11.7 version is installed by Meteor.

You can find a small reproduction of my project in my Git repo : https:/

[2017-11-13 23:45] cfnelson commented on #98
@benjhoo I had a quick look and I am unsure of the exact cause. However I thought I should point out that when you run `meteor build` the bundle will not contain these `.js` files.

Personally I have used this package in the past with Meteor by importing/exporting `.graphql` files. You can add `.graphql` support in Meteor with this package https://github.com/Swydo/meteor-graphql

I will try to tak

[2017-11-13 23:56] cfnelson commented on #101
@lifeiscontent The bug is related to `deepmerge` and most likely trying to merge a cyclic object/structure. The latest release of `deepmerge` may resolve this issue for you.

If you are only using this package for `mergeResolvers()` I would recommend switching to using `deepmerge` or a similar npm pkg directly instead of this package.

You can simply replace your `mergeResolvers([left, right]);` l

[2017-11-15 08:34] benjhoo commented on #98
@cfnelson thank you for your response.

Yes, it works when I use `.graphql` extension instead of `.js` for the schemas (As I mentioned in my first post). No need to use an additional package apparantly.
But the problem remains when I try to autoload the resolvers `.js` files.

I will wait for a possible correction of this problem so.
I will manually import the .js files in the meanwhile.

Thank yo

[2017-11-17 17:58] cfnelson commented on #104
Closing for now. This is only warning you to install `graphql`.  This package expects you to have installed `graphql`. PR #103 should resolve the warning by bumping the `graphql` versions.

[2017-11-17 17:58] #104 closed

[2017-11-17 18:06] cfnelson commented on #101
Closing for now as the issue is related to `deepmerge` and the two resolvers passed to it.
Happy to continue the discussion further if help is needed. 😄

[2017-11-17 18:06] #101 closed

[2017-11-19 09:50] thebergamo opened #105 "fileLoader load files using glob matching"
This module is great, but one thing that can be improved is the fileLoader accept glob matching instead of only one directory. :D

[2017-11-19 22:07] RichardLitt commented on #105
Thank you for opening the issue and the PR, @thebergamo! We'll check it out shortly.

[2017-11-20 10:20] thebergamo commented on #105
Thanks Richard :D

After getting dig into implementations and integrating with my code I figure that it's not so required, but can be a good improvement to not load all file inside directory only the required ones.

In my case I split my resources into separate folders and place all my graphql files inside that folders.

[2017-11-25 21:39] andres-mestra opened #107 ".graphql files and babel-cli"
how to compile .graphql files using babel-cli?

[2017-11-26 17:54] kmalakoff opened #108 "Support for @std/esm .mjs"
I was wondering what you thought about supporting .jsm files through @std/esm.

Basically, you would need to add this extension and if you with commonjs require look for a `default` on the imported symbol. It is a little more complicated if there is no default, but just asking...

[2017-11-27 12:03] andres-mestra commented on #107
solution add: babel lib -d dist --copy-files

[2017-11-27 15:15] RichardLitt commented on #107
No worries! Thanks for posting the solution.

[2017-11-27 15:15] #107 closed

[2017-11-27 17:03] cfnelson commented on #108
@kmalakoff I haven't heard or come across the`.jsm` file extension before (I assume it stands for js module). I am aware of the`.mjs` extension which is currently behind the `--experimental-modules` flag since node 8.5.0.

I am aware and have used `@std/esm` pkg and enjoy it a lot. I am a little confused and have to admit I do not understand what you are asking/requesting. Would you be able to cla

[2017-11-28 05:09] kmalakoff commented on #108
Sorry, re-reading what I wrote wasn't clear...

The following doesn't work with .mjs files under the types folder:
[code]

I just ended up writing my own: https://github.com/kmalakoff/esm-require-directory

[2017-12-01 22:19] #105 closed

[2017-12-04 10:56] elreeda opened #109 "Dynamic import types and resolvers"
hey, when calling  `fileLoader` with glob pattern it returns

checking [file_loader](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/file_loader.js) exactly on [Line:28](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/file_loader.js#L28) everything seems to be right, but when I install the package from npm and checking the output `index.cjs.js`, is-glob isn't suppor

[2017-12-04 13:27] cfnelson commented on #109
@elreeda It's unreleased currently as per the [CHANGELOG](https://github.com/okgrow/merge-graphql-schemas/blob/master/CHANGELOG.md#unreleased) we plan to publish this week.

[2017-12-04 13:27] #109 closed

[2017-12-04 13:29] cfnelson commented on #108
@kmalakoff We would be happy to have a PR for this if you are interested in submitting one. The specific code in question is [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/file_loader.js#L59).

[2017-12-04 15:15] kmalakoff commented on #108
@cfnelson thank you. I am not too sure of the intricacies of @std/esm, have a solution now, and am busy balancing work and a personal project so I think I'll need to pass. Sorry!

[2017-12-04 15:15] #108 closed

[2017-12-04 15:31] RichardLitt commented on #108
@kmalakoff Thank you for being honest and letting us know! We'll be here if you have more free time, of course, so there's no pressure for us. :) Good luck and take care.

[2017-12-04 22:32] cfnelson commented on #109
@elreeda [v1.4.0](https://github.com/okgrow/merge-graphql-schemas/blob/master/CHANGELOG.md#140---2017-12-04) has just been published to npm. Using a glob pattern should now work. 👍  Let us know if it doesn't now work for you on `v1.4.0`.

[2017-12-04 22:34] cfnelson commented on #105
@thebergamo Wanted to let you know that [v1.4.0](https://github.com/okgrow/merge-graphql-schemas/blob/master/CHANGELOG.md#140---2017-12-04) has just been published to npm which includes your work for fileLoader to support a glob pattern. 👍  Thanks again for the PR! 💯

[2017-12-05 06:13] elreeda commented on #109
🎉 thanks, it works now.

[2017-12-12 12:37] thebergamo commented on #105
Thank you guys to having this awesome module!

[2017-12-16 12:28] silkyland opened #111 "TypeError: buildASTSchema.getDescription is not a function"
I got this error

TypeError: buildASTSchema.getDescription is not a function .

Any help?

[2017-12-17 16:08] bermanboris commented on #111
You can downgrade version of "graphql" dependency. Version ^0.11.7 is working fine for me!

[2017-12-22 14:39] RichardLitt commented on #111
@email2vimalraj A PR would be great. For now, the above downgrade should work while we allocate time to process this.

[2017-12-22 15:49] RodMachado commented on #111
This could be related https://github.com/graphql/graphql-js/pull/1165.
I'll verify if upgrading graphql will fix the problem.

[2017-12-22 19:39] RodMachado commented on #111
Hey @silkyland and @email2vimalraj
Apparently `getDescription` function from `buildASTSchema` was no longer being exported since version `0.12.0`. The issue is fixed with this PR https://github.com/graphql/graphql-js/commit/8173c24dba61c5e032e4abd518729a5591b3076c but it is not available yet. It will probably be published in version `0.12.4` (I thought this was included in version `0.12.3`, but it

[2017-12-22 20:31] matthew-gordon opened #112 "Webpack unexpected token"
I am using Webpack to compile, running into an issue when trying to call fileLoader on types directory..

Webpack config
[code]

[code]
I am calling it like so..

```const typeDefs = mergeTypes(fileLoader(path.join(__dirname, '../src/schema/types')));```

and the type def..

[code]
Any thoughts?

[2017-12-22 22:06] cfnelson commented on #112
@matthew-gordon Will need to take a look at this and get back to you. Potentially related to the usage of [require](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/file_loader.js#L60) .

We also expose an [esm bundle](https://github.com/okgrow/merge-graphql-schemas/blob/master/package.json#L12) though I see from the stack trace that the `cjs` bundle is being consumed.

[2017-12-22 22:37] matthew-gordon commented on #112
Awesome! Thanks for the quick response! It does successfully work in another project not using Webpack, just have a script with nodemon running --exec babel-node.

[2017-12-26 09:32] email2vimalraj commented on #111
Okay, then we have to wait till 0.12.4 is out. Thanks for the update.

Thanks
Vimalraj
http://vimalselvam.com
https://www.gitshowcase.com/email2vimalraj

On 23 December 2017 at 01:10, Rodrigo Machado <notifications@github.com>
wrote:

[2017-12-27 19:01] dotansimha opened #113 "Merge all GraphQL types?"
I was wondering why this package merges (without `extend type`) only Query, Mutation and Subscription. The logic I refer to is this: https://github.com/okgrow/merge-graphql-schemas/blob/master/src/merge_types.js#L8

I tried to create a version of this package without this constraint and everything works, and I can just write `type User { A: String }` and merge it with `type User { B: String }` (wi

[2017-12-29 14:48] RichardLitt commented on #112
@matthew-gordon Holiday season here. This project is maintained mainly be maintainers during work hours - we'll get back to you soon.

[2017-12-30 11:19] majelbstoat commented on #112
I have a similar issue where it can't `require` the files that are gathered, leading to a message like `Cannot find module 'app/graphql/resolvers/books.js'`, despite it being there, relative to the webpack `context`. `.graphql` files are loaded correctly which made me also wonder about that same line of [code](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/file_loader.js#L60). Tri

[2018-01-02 17:11] cfnelson commented on #113
@dotansimha The `merge-graphql-schemas` pkg was written to support merging `types` before the usage/adoption of `extend` (last I checked `extend` is still undocumented). This package should also support merging `Input` types see [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/src/utilities/astHelpers.js#L6).

What other types are you trying to merge? And we are always happy to a

[2018-01-04 15:00] zalabinc opened #114 "can not use """ on type description"
can not use  """ on type description

[2018-01-04 15:09] RichardLitt commented on #114
Thanks @zalabinc. Can you give us an example snippet to run and test this on?

[2018-01-09 14:47] dotansimha commented on #113
@RodMachado @cfnelson
I think we can merge everything.
Because merging `type User { id: String }` and `type User { username: String }` could be very helpful and helps to create much modular GraphQL server.
Also, I think that Enum values can be merged, and GraphQL directives can be merged together.

[2018-01-11 13:21] mxstbr opened #115 "Support Flowtype"
We have `.js` files with Flow types in them like so:

[code]

Unfortunately, `fileLoader` chokes on the Flow syntax. :cry:

[2018-01-11 17:19] cfnelson commented on #115
@mxstbr Thanks for reporting this, we would be happy to add support for the FileLoader to support parsing Flow as `.ts` is supported. I haven't personally used Flow types yet so I may have the wrong idea (overcomplicated solution).

A potential solution could be to use the [flow-remove-types](https://github.com/flowtype/flow-remove-types) pkg to parse our `.js` files to remove the flow syntax. Unl

[2018-01-11 17:35] cfnelson commented on #113
@dotansimha I believe this has been discussed at some point in the past but am unsure of the details. Will need to ask @RodMachado to clarify if there was a discussion and the outcome of it.

If I understand your suggestion correctly my main concern and I assume there will always be a contentious issue around what the expected behaviour should be and if we should allow/support resolving two of the

[2018-01-12 16:00] RodMachado commented on #113
Hey @dotansimha,

@cfnelson is right, we did have this discussion before and decided not to support multiple declarations for the same type.
Consider a scenario where there's a file A with `type User { id: String }` and a file be with `type User { id: Int }`.
Another scenario could be having `type Address { zipcode: String }` in file A and `type Address { postalcode: String }` in file B.
I know th

[2018-01-19 18:54] Rajeshr34 commented on #111
Works on latest GraphQL
Fix: yarn add graphql@git://github.com/graphql/graphql-js.git#npm

[2018-01-23 01:17] j commented on #111
No activity on this repo for a while.  Wish it'd work out of the box with `graphql-yoga`

[2018-01-23 01:22] RichardLitt commented on #111
@j We're here. Is it not working with `graphql-yoga` because of this issue? I'd be happy to escalate it.

[2018-01-23 12:25] beebase commented on #111
I'm having same error "TypeError: buildASTSchema.getDescription is not a function ."
with these versions
[code]
downgrading graphql to 0.11.7 seems to work but I have another question

schema.grapql  imports a Type from another graphql file
![image](https://user-images.githubusercontent.com/446089/35275497-3cc2c7d2-0040-11e8-9d0d-e805a9eed5dd.png)

...which results in this error. I suppose the imp

[2018-01-23 14:46] RichardLitt commented on #111
@RodMachado Can you offer an update on this one?

[2018-01-23 14:57] cfnelson commented on #111
@RichardLitt This isn't something we cam fix its due to graphql.js. See above explanation and answer by Rodrigo. @j @beebase `The solution for now is to use graphql version 0.11.7.` or switch to using the github branch instead of the npm pkg -> `Fix: yarn add graphql@git://github.com/graphql/graphql-js.git#npm`

Once `graphql: 0.12.4` is released then this issue will resolve itself by upgrading to

[2018-01-23 15:00] RichardLitt commented on #111
Thanks for clarifying, @cfnelson. I appreciate it - not sure how I missed that. 👍

[2018-01-23 19:34] cfnelson commented on #111
@beebase Sorry, I missed the 2nd part of your question. Yes we don't resolve `imports` inside a .graphql file. However `merge-graphql-schemas` should generate a single graphql types and one for your resolvers. Which you would then use to create your schema.

If your still having problems open up a new issue for the graphql-yogo issue you have. If you provide an example of how you are using merge-g

[2018-01-24 02:37] liuuu commented on #111
Hi. when I changed to github branch by
`yarn add graphql@git://github.com/graphql/graphql-js.git#npm`

popup: `warning " > merge-graphql-schemas@1.4.0" has incorrect peer dependency "graphql@^0.11.7".`

`npm start`
`
node_modules/graphql/utilities/buildASTSchema.js:188
        throw new Error('Specified ' + operation + ' type "' + typeName + '" not found in document.');
        ^
`
So, what's the

[2018-01-24 08:36] beebase commented on #111
@cfnelson Thanks, I'll try to explain my problem.
I'm using prisma API, which generates a database API based on types you define in a database model.
so "type User {}" generates createUser, deleteUser, filterUser etc.. in prisma.graphql.
![img2694](https://user-images.githubusercontent.com/446089/35321370-0a824ff2-00e7-11e8-8fa5-bafff6db4edb.jpg)
The schema.graphql is manually written and acts as

[2018-01-24 17:04] cfnelson commented on #111
@liuuu You may be running into issues if your mixing `yarn` & `npm` together and you didn't clear your `node_modules`/`pkg-lock.json`. From the error message you have the issue you might be running into is dependent on what types you have in your graphql files.  Would need a minimal reproduction to be able to understand the issue your having better.

[2018-01-24 17:15] cfnelson commented on #111
@beebase If I understand correctly, what you have described is the ability too merge the same two types together (which have been defined in two files). Specifically what you are hoping to achieve is to merge the field definitions together or in your case have some field definitions omitted in your final type definition.

Currently this isn't supported by this package as it comes with various comp

[2018-01-24 19:25] cfnelson commented on #114
@zalabinc Closing this issue as there has been no activity. From the error you report it sounds like the issue is not related to this pkg but with invalid syntax in the `.graphql` file.

Will be happy to re-open if we are provided with more details.

[2018-01-24 19:25] #114 closed

[2018-01-24 19:41] beebase commented on #111
Thanks, I'll have a look at #113.
And yes, schema.graphql holds the type defs, although eventually this file will be divided into user.grapgql, post.graphql, comment.graphql etc...

[2018-01-24 19:42] beebase commented on #111
Thanks, I'll have a look at #113.
And yes, schema.graphql holds the type defs. Eventually this file will be divided into user.grapgql, post.graphql, comment.graphql etc...

[2018-01-29 12:22] davidjohnbell opened #116 "Incompatable with latest graphql (0.12.3)"
Hello, I tried installing this module but I get this error when running it, any ideas?
`var description = buildASTSchema.getDescription(node);
                                     ^

TypeError: buildASTSchema.getDescription is not a function
    at D:\StreamerServer\node_modules\merge-graphql-schemas\dist\index.cjs.js:4262:38`

[2018-01-29 14:03] pleerock commented on #115
+1 for typescript support (I think this issue should be renamed to "Support flowtype and typescript typings")

[2018-01-29 14:06] cfnelson commented on #115
@pleerock Typescript is already supported. Are you having issues with typescript?

[2018-01-29 14:08] cfnelson commented on #116
@davidjohnbell Duplicate issue, please see https://github.com/okgrow/merge-graphql-schemas/issues/111 for the temp solution until `0.12.4` is released. You need to revert back to an older `graphql` version or use the `npm` branch, details are on the thread in issue 111.

[2018-01-29 14:08] #116 closed

[2018-01-29 14:14] pleerock commented on #115
there are no typings, its impossible to typesafely use this library with typescript.

[2018-01-29 14:19] pleerock commented on #116
at least two people faced this issue in last two hours 😆

[2018-01-29 19:20] davidjohnbell commented on #111
Hello, I am trying to implement your library. When I downgraded graphql to 0.11.7 I get an error when I try to use subscriptions. I can perform queries and get the proper data, but subscriptions seem to throw an error inside the graphiql playground.

[code]

![capture](https://user-images.githubusercontent.com/17103917/35529329-efb803e6-04ed-11e8-80a2-5c3a2f8d89c1.PNG)

[2018-01-29 19:31] cfnelson commented on #111
@davidjohnbell It sounds like you might have two different versions of `graphql` installed? At least from that error. Might be another package has `graphql` as a direct dependency?

However potentially another quick solution to test would be to swap out the graphql 0.11.7 with the specific github npm branch which is not yet published. `yarn add graphql@git://github.com/graphql/graphql-js.git#npm`.

[2018-01-29 19:40] davidjohnbell commented on #111
@cfnelson thank you for your speedy reply. I tried the pulling from their git previously and got the same error as above. Could there be some sort of error specific using graphql-yoga? This was my package and if I deleted the node modules and installed using `npm install` I still get the error.

[code]

[2018-01-29 20:56] cfnelson commented on #111
@davidjohnbell I suspect the issue is due to `graphql-yoga` having `graphql: ^0.12.0` as a dependency - see [here](https://github.com/graphcool/graphql-yoga/blob/master/package.json#L46). Hopefully all this is resolved once `0.12.4` is released.

[2018-01-29 21:50] danielglasgow opened #117 "Publish es2015 compliant JS"
This package does not appear to publish JS to NPM compiled to es2015. This causes problems with create-react-app: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

Could this package also publish es2015 JS?

[2018-01-29 22:57] cfnelson commented on #117
@danielglasgow We already compile both a `cjs` bundle which is the `main` & a `esm` bundle which is the `module`. See the pkg json [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/package.json#L12), if this is broken for you could you provide the error messages.

Additionally providing more details to the problems you are having would be helpful along with a minimally reproductio

[2018-01-30 21:01] danielglasgow commented on #117
@cfnelson I will try to find time in the next week to PR a solution and/or a minimal reproduction.

For starters though, both the `.cjs` and the `.esm` files have `Object.values` calls in them (with no polyfill). This alone will not be es2015 compliant.

[2018-01-30 21:17] cfnelson commented on #117
@danielglasgow Ahh thank you for spotting that, If I have time this week I will also try to take a look. Out of curiosity what target environment are you trying to support?

This package was meant to be transpiling to support `node 4.8.3`. We are thinking/planning to drop support and move to `node 6` or `node 8` as the min supported environment instead of a specific es2015, es2016, es2017 standard

[2018-01-31 11:36] arvi commented on #111
Right, I had to change `^0.12.3` to `0.11.7` for it to work. :smile: thanks to all.

[2018-01-31 18:11] email2vimalraj commented on #111
This works fine with the recent release candidate version of graphql - `"graphql": "^0.13.0-rc.1"`.

[2018-01-31 18:43] bvitale commented on #111
Can also confirm fixed with RC1

[2018-02-02 16:41] majelbstoat commented on #112
Happy new year :) Just so I have expectation on how long to live with the workaround, is there likely to be any progress on this any time soon? (The workaround is, uh, "don't use mergeResolvers()" 😬)

[2018-02-02 16:56] cfnelson commented on #112
@majelbstoat It has been on are radar internally, sadly I have been quite busy on other projects and haven't had the chance to investigate this error in detail. 😢

I still believe the usage of `require()` is the most likely cause if it's not a webpack config issue. 2nd option if `require()` isn't the culprit then our `Rollup.js` config could be the cause.

If your able to provide a minimal repo th

[2018-02-15 14:16] negezor commented on #111
GraphQL v0.13.0 [released](https://github.com/graphql/graphql-js/releases/tag/v0.13.0.)

The `getDescription ` function was returned.

[2018-02-17 00:34] MagnusFrater commented on #111
Non-broken GraphQL v0.13.0 link: https://github.com/graphql/graphql-js/releases/tag/v0.13.0

PR: https://github.com/graphql/graphql-js/pull/1165

This issue can be closed.

[2018-02-17 02:33] RichardLitt commented on #111
@MagnusFrater Oughtn't we to update our dep, first?

[2018-02-22 02:18] kohlikohl commented on #113
I would have following use case for merging every type together:
When using apollo-client and with the @client directives (which lets you create a client side field and resolver that does not exist on the graphql server), I would want to be able to combine a server schema with a client schema (being a superset of the server schema). I'd then use the resulting schema with apollo-codegen to generate

[2018-02-22 17:46] majelbstoat commented on #113
I don't know @kohlikohl (yet? 😉) , but it appears we've had the same requirements at the same time :) would love to voice support for the @client/apollo-codegen/typescript use-case.

[2018-02-23 02:40] kohlikohl commented on #113
So I tried the code from PR https://github.com/okgrow/merge-graphql-schemas/pull/118 and it does exactly what I need.

[2018-02-23 18:55] anuragnagarkota opened #119 "getting the error-- Specified query type "Query" not found in document."
Hey

I have created a sample app using merge-graphql-schemas and build that using babel. But when I run the generated code(after build) I am getting the following error

 Specified query type "Query" not found in document.

Please help me out.

[2018-02-24 13:01] RichardLitt commented on #119
Thanks @anuragnagarkota. Can you specify the version you're working with? Is there any chance you have the app available on GitHub in an open source repository?

[2018-02-26 00:17] cfnelson commented on #119
@anuragnagarkota Not to sure if I understand your question exactly, but I can say that this package doesn't write any `GQL` to file. Also the pkg executes at runtime, e.g - isn't a babel plugin/or some build pre-processor and doesn't do anything during your app's build process.

Please see the [Readme's Usage section](https://github.com/okgrow/merge-graphql-schemas#usage) for how to correctly use

[2018-02-26 00:17] #119 closed

[2018-02-26 16:30] cfnelson commented on #113
`merge-graphql-schemas v1.5.0` 🎉 has just been released which includes the ability to merge a GQL Type defined multiple times in separate files. Will throw an error when fieldDefintitons have conflicting values defined. Usage mergeTypes(types, { all: true }). Many thanks to @squidfunk work for making this possible. To see more check out PR #118.

[2018-02-26 16:30] #113 closed

[2018-02-26 16:31] cfnelson commented on #111
`v1.5.0` has just been released and resolves this issue if you have installed `graphql v0.13.x`

[2018-02-26 16:31] #111 closed

[2018-02-27 17:33] jakelowen opened #122 "Export to file option"
Just a suggestion, but it would be awesome if there were an option to take the combined typedefs export them out into a combined file. Same with resolvers.

I envisioning a project folder structure where I have distinct server, client, and schema folders.  Inside the schema folder merge-graphql-schemas could process all the types/ and resolvers/ and spit out a combined typeDefs.graphql and resolve

[2018-03-04 12:34] vuldin commented on #98
I'm running into this same issue, and it was worked around as @cfnelson said by loading the resolver files manually.

Here is a resolver that doesn't work with a folder of resolver files with js extensions:
[code]

Here is a working resolver file that manually loads the needed files (as `index.js within the resolver folder):
[code]

The error I get when trying to use the non-working version above

[2018-03-04 15:15] cfnelson commented on #98
@vuldin are you using webpack? If so could we see your config so we can try to reproduce the exact behaviour your experiencing.

[2018-03-04 19:10] vuldin commented on #98
I uploaded the project I was working on last night [here](https://github.com/vuldin/apollo-mongo-webpack). Links to a few relevant files:

- [webpack.config.js](https://github.com/vuldin/apollo-mongo-webpack/blob/master/webpack.config.js)
- a resolver file that works being manually pulled in but not via the automated route [[todo.js](https://github.com/vuldin/apollo-mongo-webpack/blob/master/src/r

[2018-03-05 03:55] vuldin commented on #98
I went ahead and separated the resolvers into three versions: [one](https://github.com/vuldin/apollo-mongo-webpack/blob/master/src/resolvers-manual.js) that is following the manual approach and works, and two others ([one](https://github.com/vuldin/apollo-mongo-webpack/blob/master/src/resolvers-auto.1.js) and [two](https://github.com/vuldin/apollo-mongo-webpack/blob/master/src/resolvers-auto.2.js)

[2018-03-06 08:06] vuldin commented on #98
It looks like the issue is with the dynamic require [here](https://github.com/okgrow/merge-graphql-schemas/blob/a0104c1cb13a78db3cd6640279091e20050a8477/src/file_loader.js#L60). I don't know of any easy way to fix this with rollup, but it looks like webpack supports dynamic import in recent versions. See [here](https://webpack.js.org/guides/migrating/#code-splitting-with-es2015) for how the syntax

[2018-03-08 04:07] lacolaco commented on #84
I've tried to fix this problem, but it's difficult a bit.
A essencial problem is that graphql's `getDescription` utitily cannot treat arguments' comments. Always it returns `undefined`. So I think there's nothing we can do on `merge-graphql-schemas` 's layer.

[2018-03-08 04:12] RichardLitt commented on #84
@cfnelson Any ideas?

[2018-03-08 04:13] lacolaco commented on #84
@RichardLitt I've sent an issue about that to graphql-js repo.

https://github.com/graphql/graphql-js/issues/1281

Please +1 on it!

[2018-03-09 14:57] cfnelson commented on #98
@vuldin Thanks heaps for the detailed response & investigation! We suspected the `require` statement you pointed out was the cause as well. Will spend some time taking a look today on the best way to fix/resolve this issue.

[2018-03-09 19:09] lastmjs opened #124 "TypeError: Cannot read property 'value' of undefined"
By the way, this repo is amazing, and I believe offers a clean solution to multiple issues that I was making custom solutions to when working with Prisma. Thank you! I think this is a simple bug. I've got the following three schemas I'm trying to merge:

[code]

[code]

[code]

When I run the following:

[code]

I get:

[code]

I did a little digging into `index.cjs.js`, and here is the offending

[2018-03-09 19:12] cfnelson commented on #122
@jakelowen I am unsure if I fully understand your suggestion. This library executes at runtime and wasn't designed to run as a preprocessor during build time. I am having difficulty understanding this use case and why this package should write to a file.

Are you simply wishing for this library to provide a function you can call to write your schema and resolvers to a specific file path that you s

[2018-03-09 19:49] cfnelson commented on #124
@lastmjs Thanks for providing this feedback. I have tested your suggestion, however it breaks a few existing tests,

Check out the `merges query types with matching definitions` test [here](https://github.com/okgrow/merge-graphql-schemas/blob/master/test/merge_types.test.js#L139) for an example test and the types it tests against can be found [here](https://github.com/okgrow/merge-graphql-schemas/

[2018-03-09 19:54] lastmjs commented on #124
Here you go, `field.type`:
[code]

[2018-03-09 20:00] lastmjs commented on #124
I'll work on a PR

[2018-03-09 20:04] cfnelson commented on #124
@lastmjs Thanks for that, with your changes does your schema build and run the way you expect? e.g Do your types get merged correctly or throw when there is a fieldDef with a type conflict?

[2018-03-09 20:07] lastmjs commented on #124
I've only manually tested, but my schema compiles correctly and I can use GraphiQL to do all of the basic operations that I have tested

[2018-03-09 22:18] lastmjs commented on #124
It looks like the issue was not accounting for `NonNullType` fields. Fixed the tests to account for that and made a fix to the code: https://github.com/okgrow/merge-graphql-schemas/pull/125

[2018-03-16 20:23] moltar opened #126 "Ability to return GraphQLInputObjectType or GraphQLObjectType for types"
It appears to be not possible, or I am simply missing something. But I am unable to return objects for query types. This is useful for custom types, especially for validation.

E.g.:

[code]

[2018-03-16 21:28] lastmjs commented on #124
Merged! https://github.com/okgrow/merge-graphql-schemas/pull/125

[2018-03-16 21:28] #124 closed

[2018-03-16 21:55] cfnelson commented on #124
@lastmjs Thanks again for this! Sorry it took so long to release. `v1.5.1` is now out on npm, I hope it fixes everything for you! :)

[2018-03-17 20:13] jboothe opened #128 "Tip: Resolver naming convention to aid resolvers fileLoader"
Thanks for adding the feature that ignores `.js` files when using fileLoader in the typeDefs folder. For those that are curious, it also ignores `.ts` files. It's nice to keep typeDef consolidation confined to the `/typeDefs/index.ts` file when using the automated approach.

For those that want to use the same approach with resolvers, just use the naming convention of your resolvers to include `.r

[2018-03-19 15:10] RichardLitt commented on #128
Thanks, @jboothe. This sounds initially to me like a good tip to include in the Readme. Would you like to make a PR to include it, to become a contributor?

[2018-03-19 18:21] jboothe commented on #128
Love to. PR coming shortly.

[2018-03-19 20:03] jboothe commented on #128
@RichardLitt PR #129 all done. Thanks for the invite.

[2018-03-19 20:04] RichardLitt commented on #128
Awesome! One of the other maintainers will take a look at it as soon as they can. Thank you!

[2018-03-23 11:58] RodMachado commented on #128
@jamielob Thanks again for the PR!
I've merged it so I believe we can close this issue.

[2018-03-23 11:58] #128 closed

[2018-03-23 23:38] ldgarcia commented on #122
@cfnelson, @jakelowen I am searching for a way to compile multiple GraphQL files into a single `schema.graphql` to use with [serverless-appsync-plugin](https://github.com/sid88in/serverless-appsync-plugin), for example.

[2018-03-25 05:56] artemzakharov opened #131 "Resolver merging results in empty objects"
When I try to merge my resolvers, it seems like it picks up the object names, but not the functions. For example, I have this mock resolver file, identical to the doc example save for being a `.ts` file since that's how my project is set up:

`testresolvers/productResolver.ts`:
[code]

I generate the merged result as follows:
[code]

When I `JSON.stringify()` the `mergedResolvers` object for reada

[2018-03-25 06:17] artemzakharov commented on #131
Well, this is embarrassing... but I didn't realize that you couldn't straight up log methods like that! I ran the merged object through a SO snippet that logs method names, and lo and behold, there they were. Might be prudent to add a small disclaimer to the docs that highlights this behavior for fools like myself!

[2018-03-25 06:17] #131 closed

[2018-03-25 14:29] RichardLitt commented on #131
Since you've been through it and come out the other side, you might be the best person to know what the docs need. What about crafting a small PR? Sound like something you'd like to do? :)

[2018-03-26 21:11] jakelowen commented on #122
Thanks @cfnelson for your thoughtful reply. I think your description of a preprocessor is exactly what I had in mind. I understand of course if preprocessing is out of scope for this project. If so, please feel free to close the issue.

If I were to speak more directly to my use case for a gql preprocessor type functionality, I would characterize it as:   "I want to use merge-graphql-schemas as de

[2018-04-03 09:05] daviestar opened #132 "Proposal: remove parent/root 1st argument from top-level queries and mutations"
Hey,

I've been using your package for a while and it's great - thanks!

Until now, I blindly accepted that the 1st argument to a resolver is always undefined, I assumed it was a 'nodeback' style `err, response` signature.

So I finally looked it up when a colleague asked about it (information is scarce on this!).  So now I realise it's the parent query, and hence makes sense in subqueries, but I

[2018-04-03 13:08] cfnelson commented on #132
@daviestar Can you explain a little more about what you are suggesting/proposing? Or is this more of a question/wishing for an example of how the `Root`/`Query` type can be useful?

To be clear we don't define or control the[ GraphQL spec](https://facebook.github.io/graphql/October2016/) or its [reference JS](https://github.com/graphql/graphql-js) implementation. If you wish to read up more on the

[2018-04-03 13:08] #132 closed

[2018-04-03 13:14] cfnelson commented on #122
@jakelowen Thanks for your response, it's helpful to understand the reasoning and why behind the issue raised. We have done something similar in the past but, in an automated fashion for testing. We haven't produced a single schema file for human consumption before.

Will have a think about it and think if it makes sense for it to be part of this package or maybe its own pkg.

[2018-04-04 21:40] aeblin opened #133 "Resolved correctly first build, returns TypeError: Cannot convert undefined or null to object on each successive"
Not sure what's happened on my end, but after importing my typeDefs manually, the merge worked correctly and has failed with the above TypeError each successive build attempt. I'm sitting around coding on too little sleep and not enough caffeine, so it wouldn't surprise me if I'm doing something stupid here, but I've run this through a linter, and haven't changed anything since the first successfu

[2018-04-04 21:53] cfnelson commented on #133
@aeblin Sadly, I haven't come across this issue before. To be able to better assist you we will need some more info or a minimal working example.

-  Are you using webpack and babel? What plugins etc.
- could you provide us with an example of your typedefs?
- Can you also provide the stack trace.

To be clear it's your `typeDefs` that are throwing the error when you try to merge them?

[2018-04-17 19:35] sonyseng opened #135 "index.graphql and any schema files named index"
I just started using this library and this stumped me for a short while. Just wanted to point out that the code filtering out `index.js` and `index.ts` is a bit more general than what the README states and will filter out any file named `index`. It just so happened that my graphql schema files were named `index.graphql`.

file_loader.js

[code]

[2018-04-18 03:01] cfnelson commented on #135
@sonyseng Would be happy to accept a PR if you would like to contribute. 🙌  You could update the documentation to make this behaviour more clear to anyone using the pkg.
We potentially could also accept a PR if given some thought as well to change the behaviour you described above.

[2018-04-24 03:57] lkspc opened #136 "Missing Query argument comments when merged types"
In my schema definitions, I have commented the query argument:
[code]

But after calling `mergeType`, the merged schema is:
[code]

How could I resolve this problem?

[2018-04-24 09:55] murielsilveira commented on #136
I could make it work with a different comment notation, try it like this:

[code]

I figure this out by checking these issues:

- https://github.com/apollographql/graphql-tag/issues/81
- https://github.com/apollographql/graphql-tag/issues/107

I hope it helps.

[2018-04-24 11:26] lkspc commented on #136
Thanks for your solution, it works, though it's non-standard comments

[2018-04-24 17:22] city41 opened #137 "webpack warns "request of a dependency is an expression""
We are using merge-graphql-schemas in the browser. We don't use fileLoader, but since it is present in index.cjs.js, webpack warns when it encounters the dynamic require:

[code]

Does it make sense to have a browser build of merge-graphql-schemas? It would be nice to drop fileLoader for the bundle size savings too. I can do a PR for that if you would like.

[2018-04-25 10:15] damianthekreeeytor commented on #115
+1 for FlowType support

[2018-04-25 14:54] cfnelson commented on #137
@city41 Personally, I am interested by the idea, however depending on the changes required to support this it might not be suitable. Main concern is if this would cause a higher maintenance overhead for the package.

To save you any time before you write a PR it might be useful to know what modifications would be needed and your approach to the refactor?

Are you thinking of adding a `browser` fie

[2018-04-25 14:58] city41 commented on #137
Yeah that was the plan. I did this briefly and had a `index.browser.js` that exported mergeTypes and mergeResolvers but not fileLoader. But I ultimately ended up solving my problem by not using merge-graphql-schemas in the browser.

[2018-04-25 21:07] konsumer commented on #122
It just merges the type-defs into a string, so you can do this:

[code]

[2018-04-28 15:48] agatlin commented on #119
I have been getting the same error, and I understand what is happening. (Fortunately, there are a couple of simple fixes.)

If you compile (tsc) and have the .js files generated in the same directories as the .ts files, everything works as expected.

However, if you are one of those folks who does not like to have your source directories cluttered with shit files and you specify a different output

[2018-04-29 18:31] wildstyles commented on #133
Got the same issue then tried to import empty file. Then imported not blank file - problem dissapeared.

[2018-04-30 13:46] jakelowen commented on #122
Thanks @konsumer - That is great.  I might humbly propose that snippet be added to the documentation and this issue be closed.

[2018-05-01 03:40] cfnelson commented on #122
Happy to accept a PR if someone would like to make a contribution to the pkg! 🙌

[2018-05-01 17:48] konsumer commented on #122
Seems a bit redundant, but I added it after the bit about merging types. Feel free to modify to make it clearer, or whatever.

[2018-05-05 16:39] deklanw opened #139 ""extend" use for Query and Mutation across separate files"
Hi,

I have a simple structure that looks like this:

`const typeDefs = mergeTypes(fileLoader(path.join(__dirname, './schemas')));
`
[code]

[code]

With this setup I get the following error,

I realize that if I remove the "extend" keyword here everything works fine. But, I'm trying to maintain compatibility with this VSCode linting/autocomplete plugin: https://github.com/kumarharsh/graphql-for-v

[2018-05-07 14:13] alex996 commented on #112
@cfnelson Any updates on this since then? I'm running into a similar issue where Webpack cannot find resolver files. I'm using SSR, so Babel and Webpack are a must. I'm sure it's a subtle problem with the config, but It'd be valuable if we could have an example integration with Webpack in the repo.

[2018-05-07 22:33] tdharris commented on #124
@lastmjs, first of all, thank you so much for your work! I've been digging into your medium article, which is very insightful & helpful. I am discovering one small problem in the case of `NonNullType` fields with the following as my `field.type` (`v1.5.1`):
[code]
So it looks like in this case, I suppose we would need `field.type.type.type.name.value` 🤣
I'm not quite sure how much more nested thin

[2018-05-08 18:19] tdharris opened #140 "TypeError: Cannot read property 'value' of undefined within NonNullType"
I am on `v1.5.1` and am discovering one small problem in a particular case of `NonNullType` fields (issue #124, fixed in #125). This fix did help resolve a previous problem (thank you!), but this new issue is a similar problem in the case of `NonNullType` only (as far as I can tell).

I receive the following error:
[code]

The following is my `field.type`:
[code]

So it looks like in this case, we

[2018-05-11 14:25] RodMachado commented on #139
Hi @deklanw,

The `extend` keyword works by extending an existing type. So you need to either create a separate empty `Query` type, and then the types you described above would extend it. Or use `extend` on only one of your type files. That should make it work.

Let me know if that helps.

Cheers!

[2018-05-11 14:30] RodMachado commented on #139
BTW @deklanw, if you are using apollo's [graphql-tag](https://github.com/apollographql/graphql-tag), you probably don't need to use this package.
We will publish an article showing how this can be accomplished soon.

[2018-05-11 14:42] RodMachado commented on #133
Hey @aeblin,

Where you able to figure out what was going on?

Cheers

[2018-05-11 17:44] RodMachado commented on #140
Hey @tdharris,

Do you mind sharing a snippet of the actual type that is causing this? I'm trying to replicate the problem.

Thanks!

[2018-05-11 18:33] RodMachado commented on #140
@tdharris, could you also share how you are parsing the schemas? Are you using graphql's `buildSchema`, Apollo's `makeExecutableSchema`, or something else?

[2018-05-11 20:39] tdharris commented on #140
Yah, of course! I only hope I have everything right here for ya. My apologies for the long comment here. Like #124, I receive this when working with Prisma (`graphql prepare`). I think I've simplified it to the following:

[code]
[code]
[code]

When running the following:
[code]

I get the following error:
[code]

Here is `field.type` and `original` in the context of `_makeMergedFieldDefinitions()

[2018-05-19 13:03] terion-name opened #141 "all: true option does not merge interfaces"
[code]

`importSchema` allows to import types from other schemas for nice code organization:
[code]

When this imports are in multiple files - they duplicate and during merge I need to eliminate doubles.

`{all: true}` handles this for types. But interfaces are still doubling

[2018-05-24 00:47] ikeyboard commented on #97
@benjhoo Thanks! you save my day!

[2018-05-27 22:31] renato commented on #141
I'm trying it with Prisma too and, in addition to interface types, Prisma also defines scalar types (like DateTime) which also get imported more than once.

I added `Kind.INTERFACE_TYPE_DEFINITION` and `Kind.SCALAR_TYPE_DEFINITION` on

https://github.com/okgrow/merge-graphql-schemas/blob/b79816c63574eb899120ea435e24825d2100035a/src/utilities/astHelpers.js#L6-L9

and used `nodes = []` on

https://g

[2018-05-28 15:13] appsolutegeek opened #142 "Support of extensions ts/js with globs ?"
Hi,

I would like the run the fileloader with ts/js files. At runtime after a build, of course, it is JS but I also run ts-node so I would like to use TS files.

I have tried all these but they either return an empty string or completely crash. I think I don't have the syntax down correctly.

First of all, this after a build works, notice the direct js
`    const resolversArray = fileLoader(join(_

[2018-05-29 07:10] appsolutegeek commented on #142
My bad, after tracing it through via ts-node - I noticed an issue with my path. All is working as it should.

[2018-05-29 07:10] #142 closed

[2018-05-30 13:43] RichardLitt commented on #142
Thanks for following up, @appsolutegeek!

[2018-06-05 17:01] advsets opened #143 "Can you support the dependency of the next types"
For example, the next types, I need to operate user with a table, so that I can introduce the types of user in front.
[code]

[2018-06-07 20:46] RichardLitt commented on #143
Thanks, @iunfire. Have you tried implementing this with tests? Since this seems like a binary problem (either you can or you can't), I think that you might be able to implement a positive and a negative test yourself. I'd be interested to hear the result.

[2018-06-08 01:37] cfnelson commented on #143
@iunfire I am making a wild guess that you might be talking about [next.js](https://github.com/zeit/next.js) TypeScript type definitions? If thats correct could you explain in a little more detail/context as I haven't used it before? And unsure if your attempting to just typecheck or actually import the User type directly which would defeat the purpose of this pkg.

[2018-06-13 09:18] notsu commented on #112
@cfnelson I have the same issue as @majelbstoat, so I created a demo that replicates our issue below.
https://github.com/notsu/demo-merge-graphql-issue

run `yarn dev`

Does anyone have a workaround or solutions for this issue?

[2018-06-13 23:27] cfnelson commented on #112
@notsu Thanks for making a repo of this, it's greatly appreciated! 💯 🙌  We will take a look at it when we get the opportunity and hopefully we can identify the cause. cc @RodMachado

[2018-06-14 16:52] ipchikin opened #145 "Possible to not export fileloader on non-node env?"
The library breaks on react native now.

[2018-06-15 09:00] iunfire commented on #143
@RichardLitt , @cfnelson  First of all, I'm sorry that I haven't received any reply recently.
I found that , it's, next.js error. not you package question, @cfnelson  think you.

[2018-06-15 18:20] aoighost commented on #112
I'm getting similar issues as well tied to deepmerge being referenced

[2018-06-18 16:04] sp00m commented on #84
Looks like the linked issue has been closed (fixed?). Can `merge-graphql-schemas` now handle these comments properly?

[2018-06-18 18:31] RichardLitt commented on #145
Thanks, @ipchikin. Did you find a resolution for this?

[2018-06-19 07:55] ipchikin commented on #145
@RichardLitt Not sure how to deal with fs on react native. Since this library only builds a index.cjs.js, when metro bundler loads the library, it will load the fs and produce error. Would it be possible so that the fileloader to be separated to another js file or only require node related module in node env?

I am using babel-plugin-import-graphql for client side graphql modularization at the mom

[2018-06-19 20:50] RichardLitt commented on #145
Hmm, good question. I'm not entirely sure. Let's reopen this, in case others run into the same problem, and to let the other maintainers know that this is an open question.

[2018-06-30 15:06] arvi opened #148 "Build error: readdir no such file"
I can't seem to complete my build as it stops at merge-graphql-schemas package. I tried the ff but it didn't solve my issue:
- yarn cache clean
- uninstall/install node modules
- update package from 1.4.0 to 1.5.2

Package version:
`merge-graphql-schemas": "1.5.2"`

Error:
[code]

Code:
[code]

I think it is happening because `.graphql` files are not included during the `yarn run build`. Is it oka

[2018-07-05 01:14] alex996 opened #149 "Compatibility with Apollo Server v2 gql tag"
From [Migrating to v2.0](https://www.apollographql.com/docs/apollo-server/v2/migration-two-dot.html#gql-tag)

Now that `apollo-server` v2 is in rc, is there any plans to make this library compatible with `gql` tag? `mergeTypes` only works on strings, hence to get syntax highlighting, the best we can do is outsource our schema types into `.gql` or `.graphql` files and require them with the requisit

[2018-07-06 19:28] cfnelson commented on #148
@arvi What is `__dirname` outputting and where are the files located in the actual build bundle. Can you also let us know what your build tool/env is along with the version of node you are running?
Is your bundler not including graphql files into your bundle?

[2018-07-06 20:02] cfnelson commented on #149
@alex996 If I am understanding your question correctly you are wanting to store your `graphql` in multiple `js` files. Would you be wishing to use the file loader or just the `mergeTypes`?
Currently I don't think we have any plans to add support this as the use case for this pkg was to modularise your graphql schema.

We are always open though to reconsider if this is something that someone wants

[2018-07-06 20:06] alex996 commented on #149
@cfnelson You know what, never mind. It seems possible with apollo v2 [out of the box](https://github.com/apollographql/apollo-server/issues/1298). Then for resolvers, it's easier to just pass a plain array. But thanks for your reply nonetheless

[2018-07-06 20:51] #149 closed

[2018-07-11 10:06] atten commented on #140
Any progress with it?

[2018-07-12 21:52] arojunior commented on #148
Hey, @arvi. I got the same problem, fixed just passing `--copy-files` argument in the build command.

ex:
[code]
I hope it help you.

[2018-07-13 06:20] maweiyi commented on #112
Has this problem been solved? I have also encountered it.

[2018-07-16 08:14] softglance opened #151 "Internal error used on expo react-native app"
I tried to use this library in Expo - for react-native application this is causing internal error and not able to compile code saying it is non-node environment.

[2018-07-16 08:18] softglance commented on #151
I think, mainly because fs library in not available on non-node environment and so causing the issue. I added fs in my node_modules but still it is failing to compile. Not really sure what should be the fix.

[2018-07-17 22:04] RichardLitt commented on #151
Interesting. This sounds like an issue with fs or Expo, as opposed to merge-graphql-schemas. Have you checked their respective repositories for details on this bug?

[2018-07-21 07:14] arvi commented on #148
@arojunior oooh! I'll try that.

I was able to solve mine via adding a script wherein it will copy graphql schema to the build folder wherein I called it `copy-static`

[code]

@cfnelson, it's node v8.9.4, yarn 1.6.0 and with regards to my project directory:
[code]

[2018-07-24 23:46] LawJolla opened #153 "Prisma-Binding cannot extract fragments from fileLoader"
Great work everyone!  Thank you so much for your efforts.

I'm not sure where the problem lies, here, with Prisma, or with me.  And if it's even a problem -- I have a feeling there are slight variations between implementations leading to the following:

Here is my resolver index file:
[code]

Within those resolvers are fragments that look like the following...

[code]

The server boots and runs fi

[2018-07-25 05:54] LawJolla commented on #153
Fixed this one with a little help from loads.merge.  Hope this helps someone else out!

[code]

[2018-07-25 05:54] #153 closed

[2018-07-25 19:03] RichardLitt commented on #153
Thanks for logging! Glad you got this working. :)

[2018-08-14 14:59] heresandyboy commented on #141
Hi,
I am also stuck with this issue, with a combination of Prisma, merge-graphql-schemas and graphql-import. Using the flag { all: true} with mergeTypes. The merge results in Error: Type "Node" was defined more than once.

I have just been trying to modularise the advanced-typescript Prisma boilerplate, to hand to my team as an example of scaling the application.
I really don't want to have to res

[2018-08-14 15:45] renato commented on #141
@heresandyboy I'm not using `merge-graphql-schemas` currently, I replaced it by manually glob'ing & reading files from a pattern (e.g. `**/schema.graphql`), joining them and passing to `graphql-import`'s `importSchema` function (just notice the relative path of the `# import` directives will be different). An ugly workaround but the only way I could get it to work.

Something like...
[code]

At fi

[2018-08-17 04:23] mrdulin opened #154 "Is there `d.ts` for typescript?"
I import this lib, `tsc` give me an error:

[code]

[code]

It seems there is no `d.ts` for this lib

[2018-08-20 15:41] RichardLitt commented on #154
@cfnelson Can you take a look?

[2018-08-20 16:26] cfnelson commented on #154
@mrdulin This pkg isn't written using typescript and doesn't have a declaration file. The codebase is es6+ JS.

If there is a way to provide this without switching to typescript let us know, otherwise we plan to leave the codebase using JS.

[2018-08-20 16:26] #154 closed

[2018-08-25 16:58] Fi1osof opened #155 "Merged schema without Query, Mutation and Subscription"
[code]

Result:
[code]

Need only :
[code]

[2018-08-27 17:36] RichardLitt commented on #155
Thanks @Fi1osof. I'm a bit confused what you are suggesting here; is this a bug? Are you requesting a feature? Thanks.

[2018-08-28 20:26] Fi1osof commented on #155
@RichardLitt , sorry, forgot type this is feature, not bug. But here schema builds with Query, Mutation and Subscription, event when them does not exists: https://github.com/okgrow/merge-graphql-schemas/blob/master/src/merge_types.js#L108-L110

Maybe this helps understand what i need:
[code]
Here schema without Query and etc., types, enums and etc only.

[2018-08-29 00:18] RichardLitt commented on #155
Thanks for clarifying! I'm going to have one of the other maintainers chime in on this; I'm not sure I understand the problem well enough to help offer advice here, but thanks for making the question clearer.

[2018-08-29 02:09] Fi1osof commented on #155
@RichardLitt it needs for https://github.com/prisma/prisma-binding
For base schema not define Query and other. Then prisma generate complete schema. When merged schema contains Query/Mutation/Subscription prisma create tables in database for them.

[2018-08-29 02:12] Fi1osof opened #156 "Directives must appear exactly once on a field"
Mayby bug.

Try to merge twice
[code]

Got:
[code]
Error: The field `id` specifies a directive more than once. Directives must appear exactly once on a field.

[2018-08-29 21:49] Fi1osof opened #158 "Error: Type "Json" was defined more than once"
Bug.

[code]
...
[code]

[2018-08-31 23:35] Fi1osof opened #159 "Cannot read property 'name' of undefined when merge requried and not"
Bug.

merge-graphql-schemas@1.5.3

Merge two types:
[code]
[code]
(In first name not required, in second required).
Got error:
[code]

[2018-09-01 07:56] iamrommel commented on #158
i created a pull request for this but it was not yet merged on the main branch because of lacking test, which i was not able to create because i'm away from holiday

https://github.com/okgrow/merge-graphql-schemas/pull/157

[2018-09-02 14:10] ansarizafar opened #160 "Cannot find module"
test.js exists on the correct location but I am still getting this strange error
[code]
Here is my code
[code]
Type definition are loading correctly but revolvers are not. Is there any solution available for this issue?

[2018-09-02 19:45] tdharris commented on #140
It looks like it wasn't accounting for `ListType` in `NonNullType` fields. I made a fix to the code and added a test for this: #161

[2018-09-03 11:32] otbe commented on #158
This bites me too, but for `enum` definitions.
Any chance to fix this too? :)

[2018-09-07 02:44] dan003400 commented on #160
Having the same issue.

Getting "Cannot find module" for a file that 100% exists.

Using this:
[code]

[2018-09-11 23:49] cfnelson commented on #160
@ansarizafar @dan003400 Would you happen to have a minimal reproduction of this. It will go a long way for us to understand what is happening and debug the problem.

[2018-09-11 23:53] cfnelson commented on #159
@Fi1osof Thanks for reporting this, the intended behaviour in this case would be to throw an error alerting the user to conflicting types in the two files. Guessing this might have been missed for  `input` types? A PR would be welcome.

[2018-09-12 00:03] cfnelson commented on #156
Thanks for reporting this behaviour.

The behaviour was introduced in PR https://github.com/okgrow/merge-graphql-schemas/pull/144 and it looks like we don't have a test for this.

The issue I believe will be due to this line https://github.com/okgrow/merge-graphql-schemas/pull/144/files#diff-3b4b88545526e76374a7547d901a272eR75 potentially the solution could be as simple as ensuring the directives

[2018-09-12 09:06] Fi1osof commented on #159
@cfnelson i think need not error alerting, just make result field required.

[2018-09-14 08:31] mrdulin opened #164 "Work with webpack permission error?"
Here is error logs:

[code]

Here is my `webpack` config:

[code]

`package.json`:

[code]

Need a example about `typescript` + `webpack`

[2018-09-14 12:20] mrdulin commented on #112
same issue. It seems `webpack` does not compile and build my `resolvers.ts` files.

When run the app by `node ./dist/index.js`, `fileloader` try to read my `resolvers.ts` files.

[2018-09-15 04:14] beeplin commented on #160
Hey guys, I encountered the same issue and then found that was because I fogot to use `path.join(_dirname, xxx)`, so the `require(f)` in the `fileLoader` source code cannot find the correct path.

So for @ansarizafar maybe use `__dirname` instead of `process.cwd()` might help. Basically the `fileLoader` source code is quite straightforward and I guess the `cannot find module` is due to we fail to

[2018-09-17 09:44] polco opened #165 "support for graphql 14.0.0"
Would be nice to have graphql@14.0.0 in the peerDependencies. As far as i tried, it's working out of the box :)

[2018-09-17 21:10] RichardLitt commented on #165
If the tests all pass, I don't see a reason not to go ahead and do this. Want to make a PR, @polco?

[2018-09-18 01:33] polco commented on #165
sure !

[2018-09-19 18:06] dan003400 commented on #160
Tried using `__dirname` and seeing same issue, it shows it is not able to find the module that does in fact exist.

[2018-09-19 18:18] cfnelson commented on #160
@dan003400 Have you checked that the build output contains the files in question? The folders/files will be in your project but depending on how your building/bundling your app the files in question might not be within the final build/bundle output.

If this isn't the case than a min repo of this would go a long way to identifying the issue.

[2018-09-21 22:21] polco commented on #165
Fixed in https://github.com/okgrow/merge-graphql-schemas/issues/168

[2018-09-21 22:21] #165 closed

[2018-09-22 13:58] yoloOnTheBattlefield opened #169 "Module '"fs"' has no exported member 'Dirent'."
node_modules/merge-graphql-schemas/typings/index.d.ts:2:10 - error TS2305: Module '"fs"' has no exported member 'Dirent'.
 import { Dirent } from 'fs';

what happened with this guys?

[2018-09-23 13:54] koenpunt commented on #169
`fs.Dirent` is only available since node 10, but I don't think that's the minimum requirement of this library, so it should be removed, or somehow being included conditionally.

[2018-09-23 19:28] #169 closed

[2018-09-23 19:57] cfnelson commented on #169
Thanks for the PR @koenpunt . @yoloOnTheBattlefield The fix for this should be up now in v1.5.6

[2018-09-23 20:18] yoloOnTheBattlefield commented on #169
thanks guys!

[2018-09-23 22:38] cfnelson commented on #169
@yoloOnTheBattlefield `v1.5.7` Is now released and is the version you should use thanks again @koenpunt

[2018-10-01 15:01] jwdinker commented on #164
Did you solve this?  I'm having the same problem with {recursive:true}

[2018-10-01 19:47] RichardLitt commented on #164
@jwdinker Not that I know of. @cfnelson got any thoughts on this?

[2018-10-02 13:59] ttapar commented on #156
Do you mind if I check this out?

[2018-10-02 14:14] RichardLitt commented on #156
@ttapar Go ahead! Let us know if you need help.

[2018-10-03 03:19] cfnelson commented on #141
Resolved with PR #157

[2018-10-03 03:19] #141 closed

[2018-10-03 03:30] cfnelson commented on #164
@jwdinker How are you using `fileLoader` ? Can you provide a code snippet 😃
 What is your stack trace reporting? Specifically what dir is `fileLoader` trying to read when it throws `EACCES: permission denied, scandir` ?

That error implies that it's attempting to read a dir it doesn't have permission to access, e.g outside of your user space if your not running the app with root privileges.

If yo

[2018-10-03 04:33] cfnelson commented on #112
For anyone interested or having problems with not finding the correct files you need to make sure that your dist/build/bundle e.g your output dir contains your typedefs and resolvers. Take a look at this thread for more context #148 .

The `Unexpected token import` is occurring due to attempting to parse `.js` files in an environment that doesn't support es modules import/export syntax e.g node is

[2018-10-04 21:06] konsumer opened #177 "Arrays for glob patterns"
Using [globs](https://www.npmjs.com/package/globs) instead of `glob` for `fileLoader` would allow for arrays as well as the current string-only format. I can make the PR, if this is something people want. It would mean that you can do this:

[code]

[2018-10-07 18:29] Fi1osof opened #179 "Merge enum"
Schema:
[code]
Result:
[code]
enum did not merged.

[2018-10-10 14:15] mgcrea opened #180 "Ability to merge AST?"
I'm looking for a way to merge ASTs of graphql schemas:

I'm using webpack on the server side with the following rule:

[code]
So this gives me parsed AST instead of raw strings when I import the `.graphql` files.

Would be great if this module could implement a lower level function to merge already parsed ASTs.

[2018-10-21 04:19] lastmjs commented on #140
Should this issue be closed now?

[2018-10-21 20:11] tdharris commented on #140
Yah, thanks for the reminder!
https://github.com/okgrow/merge-graphql-schemas/pull/161

[2018-10-21 20:11] #140 closed

[2018-10-22 22:37] lastmjs opened #182 "Question: do directives on objects get merged?"
I have a few schemas I'm merging together, and it doesn't seem to be merging in the following directive: `directive @addId on OBJECT`. Just wondering if it is known that object directives are not merged, or if I should do some more digging. Thanks!

[2018-10-26 16:40] cfnelson commented on #182
@lastmjs Directives were introduced in this PR https://github.com/okgrow/merge-graphql-schemas/pull/144 and there is a known problem with them -> https://github.com/okgrow/merge-graphql-schemas/issues/156 which I believe should be a simple fix.

Not sure if this relates to your issue sorry. Would be curious to hear about anything you find!

[2018-11-09 23:33] Fi1osof opened #184 "Override NonNullType by Nullable"
Base schema:
[code]

Extends by:
[code]

Got error
[code]

[2018-11-12 10:02] #156 closed

[2018-11-12 10:07] Fi1osof commented on #182
@lastmjs maybe fixed in #183

[2018-11-14 00:39] cfnelson commented on #182
@lastmjs I believe the latest fix by `Fi1osof` may do this for you, you should test out [v1.5.8](https://github.com/okgrow/merge-graphql-schemas/releases/tag/v1.5.8) . Let us know if it works for you!!! If not you could create a PR to fix/support this.

[2018-11-14 00:47] cfnelson commented on #159
@Fi1osof  I think if there are any conflicts like the above example, they should be manually fixed, or a specific object is passed in as an option on how to resolve the multiple conflicting  field type definitions into the specific type you specified.

e.g -> Something like below could be passed into the mergeTypes function as an option to resolve your original example. It would instruction the me

[2018-11-14 06:07] Fi1osof commented on #159
@cfnelson graphql allow set notrequired variable as required. For example:
[code]
But can not like
[code]
So via merge schema have ability set notrequired field as required.
input Where: String
input Where: String!
became input Where: String!

[2018-11-23 07:26] tomoat opened #186 "Error: Cannot find module 'graphql/utilities/buildASTSchema'"
node_modules version:1.5.8
node version: 9.11.2

[2018-11-23 07:29] tomoat commented on #186
I found this module loaded here

./node_modules/merge-graphql-schemas/dist/index.cjs.js:var buildASTSchema = require('graphql/utilities/buildASTSchema');
./node_modules/merge-graphql-schemas/dist/index.esm.js:import { getDescription } from 'graphql/utilities/buildASTSchema';

[2018-11-29 13:14] Xample commented on #139
@RodMachado any new since ? I am stuck with the same problem as @deklanw

[2018-11-29 13:19] RodMachado commented on #139
@Xample Check the comment I made on May 11. This is not an issue and this should've been closed.

Feel free to reach out if you're still having issues.

Thanks!

[2018-11-29 13:19] #139 closed

[2018-11-30 01:46] dohomi commented on #139
@RodMachado you were mentioning an article to show how this could be accomplished by `graphql-tag`. Is that available? Thanks

[2018-12-23 21:17] joserocha3 commented on #98
@cfnelson, any update on this. I messed around with the current version with no luck.

[2018-12-27 23:44] RichardLitt commented on #98
Thanks for pinging, @joserocha3. We'll most likely have time for this after the holiday season. Hope that is OK. :)

[2019-02-05 23:07] estrada9166 opened #187 "Multiples schemas files"
I try to merge these 2 schemas and while trying to query it, it was not possible
schema 1
[code]

schema 2
[code]

I was doing a query with `getFamilyInfoById` and there was an error `Error: Cannot query field "getFamilyInfoById" on type "Query".`

[2019-03-01 11:12] kyawkyawsoezhu commented on #155
@Fi1osof  how do you manage to remove

[code]

[2019-03-30 03:48] vimutti77 commented on #187
remove `extend` from schema 2

[2019-04-02 07:59] rogerioasj opened #189 "Invalid attempt to spread non-iterable instance"
So, I'm merging multiple types and resolvers files this way:

`import * as path from "path";
import { fileLoader, mergeTypes, mergeResolvers } from "merge-graphql-schemas";

const typesArray = fileLoader(path.join(__dirname, "/**/*.types.js"));
const resolversArray = fileLoader(path.join(__dirname, "/**/*.resolvers.js"));

export const typeDefs = mergeTypes(typesArray);
export const resolvers = me

[2019-04-10 12:16] idkjs commented on #189
@rogerioasj I tried that, did not work, got this error:

[code]
Did you change anything else?

full error is below.
[code]

thanks.

[2019-04-11 00:30] ozanmuyes commented on #184
Just out of curiosity why would you want to do this? I mean what's the motivation behind the wish/necessity to override an input type?

I think the input definition should be used by a particular mutation, which has a corresponding resolver function belonging a feature/module. If you override it later somewhere else I think it should be the one after merging in the first place.

[2019-04-11 21:26] Fi1osof commented on #184
@ozanmuyes i got 3-rdparty component wich allow set empty some fields. I would not wont to override resolver with not necessery checking. Schema will did this.
Second reason: I can set request:
[code]

Will be used not direct resolver.

[2019-04-12 08:24] rogerioasj commented on #189
Hi @idkjs, no, that was all I did.

[2019-04-12 09:04] idkjs commented on #189
Thanks @rogerioasj

[2019-04-12 23:11] ack210 commented on #186
At the risk of stating the obvious, graphql is a peer dependency.  This is what fixed it for me:

`npm install --save-dev graphql`

[2019-04-14 16:02] ozanmuyes commented on #184
Thanks for the explanation, even though I was unable to wrap my head around it :) Hope this bug gets fixed.

[2019-04-15 15:14] Renaud009 opened #190 "Given a single type field with two definitions, how to keep arguments defined in one definition and directive defined in the other"
Given that context https://github.com/prisma/prisma/issues/1228#issuecomment-371925718 as suggested by @lastmjs where I'm trying to merge prisma datamodel schema and prisma generated schema from this model while keeping custom directives.

I need to keep custom directives and advanded field arguments (generated by prisma) while avoiding boilerplating. By boilerplating, I mean I know I could take t

[2019-05-04 09:52] ampProjects commented on #160
Hi,
I have the same issue.
When I use merge-schemas like this:

`const typeDefs = gql(mergeTypes(fileLoader(path.join(__dirname, 'schemas/'))));
const resolvers = mergeResolvers(fileLoader(path.join(__dirname, 'resolvers')));`

and try to compile it with webpack, all files in schemas and resolvers folder are not compiled. Webpack normally find "require" or "import" for making the compilation, but

[2019-05-21 17:30] pauldowman opened #191 "This repo is unmaintained."
We're not able to maintain this any more. If you would like to maintain it please let me know.  But I don't want to just transfer it to someone random, to avoid another [event-stream incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident) (not that this package is anywhere near as widely used).

If you have been contributing to this package or have other good co

[2019-05-27 19:21] jwdinker commented on #164
@cfnelson finally figured it out.  This occurs if you are running globally. I was using the serverless-offline package and that was the problem.  I hard coded the directory and that resolved the issue.  Any tips on easier way to do this?

[2019-06-03 14:54] mmanela commented on #191
@pauldowman Thanks for all your work on this, is has been a fantastic lib.

Do you know if there are any other alternatives to this package? I started using this since it seemed to be the only thing out there that met what I was looking for. It might be good to list some alternatives on the README for other options if people are not comfortable using a package that is no longer actively maintained

[2019-06-11 09:53] #191 closed

[2019-06-11 09:56] Urigo commented on #191
Hi Everyone!

Thanks to the great leadership of @pauldowman , we've had a conversation and The Guild would take the work of maintaining of `merge-graphql-schemas` and `graphql-scalars`.

We will release a blog post soon with more details and a roadmap.

All the great words of appreciation I have to say to @pauldowman and the amazing team from ok-grow will be written in the blog post and referenced

[2019-06-14 16:46] pauldowman commented on #191
This repo is in great hands, thank you for taking it @Urigo! We couldn't have hoped for a better steward.

[2019-06-18 04:12] SebastianEdwards commented on #189
Also hitting this error out of the blue

[2019-06-18 04:31] SebastianEdwards commented on #189
Managed to fix this by rolling back webpack's raw-loader to an earlier version

[2019-06-18 15:03] kamilkisiela opened #195 "Migrate codebase to TypeScript"

[2019-06-18 16:40] Urigo commented on #191
Just released an update about what's next: https://twitter.com/UriGoldshtein/status/1141012158613991425

[2019-06-19 13:16] tbaustin opened #197 "Make package size smaller"
![Screen Shot 2019-06-19 at 8 16 07 AM](https://user-images.githubusercontent.com/14001400/59768789-8e1d8a00-926a-11e9-85a2-e099935121e0.png)

I think it should be easier to make these smaller right?

[2019-06-20 15:14] viweei commented on #112
I'm also meeting this error today ~ I think the reason for this error in the `fileLoader` method. because when webpack building can't run the method, webpack just only copy this code to target.

befor:
[code]

after:
[code]

so ~ if use webpack packet code. need explicit import GraphQL define. such as:

[code]

[2019-06-24 08:26] RichardLitt commented on #191
@pauldowman I can't think of a better steward, either. :)

[2019-06-25 11:09] kamilkisiela commented on #136
Should be [fixed](https://github.com/Urigo/merge-graphql-schemas/pull/196/files#diff-ee59d0638e75272d8511d2bc3e6ae758R769) by https://github.com/Urigo/merge-graphql-schemas/pull/196

[2019-06-25 11:10] kamilkisiela commented on #158
Should be [fixed](https://github.com/Urigo/merge-graphql-schemas/pull/196/files#diff-ee59d0638e75272d8511d2bc3e6ae758R809) by #196

[2019-06-25 11:11] kamilkisiela commented on #179
Should be [fixed](https://github.com/Urigo/merge-graphql-schemas/pull/196/files#diff-ee59d0638e75272d8511d2bc3e6ae758R833) by #196

[2019-06-25 11:12] kamilkisiela commented on #182
Should be [fixed](https://github.com/Urigo/merge-graphql-schemas/pull/196/files#diff-ee59d0638e75272d8511d2bc3e6ae758R859) by #196

[2019-06-25 11:19] kamilkisiela commented on #84
#196 should fix it

[2019-06-25 11:21] kamilkisiela commented on #180
#196 makes `mergeTypeDefs` accept DocumentNode, String, GraphQLSchema, Source and pretty much all you can imagine

[2019-06-25 11:35] kamilkisiela commented on #155
#196 introduces `schemaDefinition` option which enables that

[2019-06-25 11:49] kamilkisiela commented on #143
Since it's related to next.js, I'm closing it. Please let me know if it's still relevant.

[2019-06-25 11:49] #143 closed

[2019-06-25 14:12] #186 closed

[2019-06-25 14:16] #117 closed

[2019-06-25 14:17] kamilkisiela commented on #117
#196 no longer depends on polyfills

[2019-06-25 14:22] kamilkisiela commented on #155
It's available now under `v1.6.0-beta.2`

[2019-06-25 14:22] kamilkisiela commented on #180
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-25 14:22] kamilkisiela commented on #84
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-25 14:22] kamilkisiela commented on #182
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-25 14:22] kamilkisiela commented on #179
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-25 14:22] kamilkisiela commented on #158
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-25 14:22] kamilkisiela commented on #136
It's available now under `v1.6.0-beta.2`. Let us know if it works :)

[2019-06-26 02:56] thearabbit opened #198 "could I merge with multi array file?"
[code]

[2019-06-26 04:26] thearabbit opened #199 "Get error with "apollo-server-express": "^2.6.6""
I got error when update to `"apollo-server-express": "^2.6.5"`

[code]

[2019-06-26 14:14] Urigo commented on #199
can you try seeing if that still is the case with the new beta?

https://github.com/Urigo/merge-graphql-schemas/pull/196

[2019-06-26 14:15] Urigo commented on #198
@thearabbit can you try creating a test case for that?

[2019-06-28 23:09] thearabbit commented on #198
Thanks, now I use `merge` of lodas in `mergeTypes`
Ex:
[code]

[2019-06-28 23:09] #198 closed

[2019-06-28 23:10] thearabbit commented on #199
thanks for your reply.
I will follow this

[2019-06-28 23:10] #199 closed

[2019-07-03 16:52] lastmjs commented on #190
I believe I just ran into the exact same issue. I really need those parameters to remain in the merged schema

[2019-07-03 18:08] lastmjs commented on #190
I found a workaround in my own project, doing some custom AST manipulations. I'll probably do a pull request here and try to get argument merging officially supported. Also, I'll be updating https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044 soon, hopefully with some npm packages to make this all much easier to deal with. Full directive permissions for all

[2019-07-10 16:51] #84 closed

[2019-07-10 16:51] #136 closed

[2019-07-10 16:51] #158 closed

[2019-07-10 16:51] #179 closed

[2019-07-10 16:51] #180 closed

[2019-07-10 16:51] #182 closed

[2019-07-10 16:51] #155 closed

[2019-07-10 16:58] #148 closed

[2019-07-10 17:00] ardatan commented on #70
You can use this in order to compose resolvers;
https://github.com/ardatan/graphql-toolkit#composeresolvers

[2019-07-10 17:00] #70 closed

[2019-07-13 03:58] jasonlimantoro opened #201 "Module not found: Error: Can't resolve 'fs' in 'node_modules/merge-graphql-schemas/dist'"
Any ideas why?

[2019-07-14 15:36] sibelius opened #202 "how to make it work with webpack?"
how to import many .graphql files?

[2019-07-15 06:02] ardatan commented on #202
What are you trying to do? If you'd like to import graphql files in webpack, you can take a look at this;
https://www.apollographql.com/docs/react/recipes/webpack/

[2019-07-15 06:04] ardatan commented on #201
`merge-graphql-schemas` uses `fs` in `fileLoader`. That's why, you need to mock `fs` which a built-in NodeJS module like below;
[code]

[2019-07-15 06:04] #201 closed

[2019-07-15 06:04] #202 closed

[2019-07-15 06:06] ardatan commented on #187
It supposed to be working in `1.6.0-beta.2`.

[2019-07-15 06:06] #187 closed

[2019-07-15 06:07] ardatan commented on #98
It looks related to how to load modules; because you need to register a loader in NodeJS that supports ESM syntax such as `babel-node` or `esm`.

[2019-07-15 06:07] #98 closed

[2019-07-15 06:11] ardatan commented on #112
Same with #98 for the first question.

@viweei But in your case, `fileLoader` is trying to load `graphql` files under `output` files. So you need to copy `graphql` files into `output` files using a copy plugin or something like that.

[2019-07-15 06:11] #112 closed

[2019-07-15 06:32] ardatan commented on #160
Using `fileLoader` and `webpack` together can cause this kind of issues similar to https://github.com/Urigo/merge-graphql-schemas/issues/202

Personally, I recommend you not to use webpack for NodeJS. But if you'd like to use it, it'd better to avoid using fileLoader. Otherwise, you need to copy those imported files into your output folder which makes using webpack a little pointless

[2019-07-15 06:32] #160 closed

[2019-07-15 06:35] ardatan commented on #189
I think it is related to how you export type definitions from js modules. So feel free to open a new issue if the problem persists.

[2019-07-15 06:35] #189 closed

[2019-07-15 06:36] ardatan commented on #164
Looks related to FS. Feel free to open a new issue if problem persists.

[2019-07-15 06:36] #164 closed

[2019-07-15 07:50] ardatan commented on #133
Closed due to inactivity. Feel free to open a new issue if the problem persists.

[2019-07-15 08:39] sibelius commented on #202
file-loader does not work with webpack

we used require.context to import multiple .graphql files

[2019-07-16 05:05] ardatan commented on #202
Actually fileLoader isn't something you should use with webpack while webpack has its own module system. FileLoader uses NodeJS's module system. Personally I don't recommend to use webpack on server side. But if you use webpack, fileLoader is not compatible with webpack.

[2019-07-16 17:37] Urigo commented on #202
a note about none Node environments here: https://github.com/Urigo/merge-graphql-schemas#note-for-non-node-environments-webpack-and-rollup

[2019-07-17 12:59] essaji commented on #182
@kamilkisiela after upgrading to `^1.6.0-beta.2` I am not getting the following error:

[code]

[2019-07-18 12:22] kamilkisiela commented on #182
Yes because you can't merge them because they both have different arguments. Previously (before beta), `merge-graphql-schema` kept those two definitions which is invalid.

[2019-07-19 21:07] Fi1osof opened #204 "Merge params for type without params"
Schema:
[code]
Merge without errors, but total schema is
[code]

Maybe this is not bug?... In this case required marge params for inner object (type Query inner type test). This is not "merge types", this "merge type's files". But for root types maybe usefull?
For this example probably:
[code]
Merge params?

[2019-07-20 22:38] ardatan commented on #195
Available in v1.6.0!

[2019-07-20 22:38] #195 closed

[2019-07-20 22:38] ardatan commented on #177
Available in v1.6.0!

[2019-07-20 22:38] #177 closed

[2019-07-20 22:38] ardatan commented on #151
Available in v1.6.0!

[2019-07-20 22:38] ardatan commented on #145
Available in v1.6.0!

[2019-07-20 22:38] #145 closed

[2019-07-20 22:38] ardatan commented on #137
Available in v1.6.0!

[2019-07-20 22:38] #137 closed

[2019-07-20 22:38] ardatan commented on #133
Available in v1.6.0!

[2019-07-20 22:38] #133 closed

[2019-07-21 00:05] Fi1osof opened #205 "TypeError: is_glob_1.default is not a function"
v1.6.0 error. v 1.5.8 is OK
[code]

[2019-07-21 14:07] dongnguyenvie commented on #205
thank u. i have same issues today.

[2019-07-21 16:39] ardatan commented on #205
@Fi1osof @dongnguyenvie
Thank you for opening this issue.
Fixed in 1.6.1!

[2019-07-21 16:39] #205 closed

[2019-07-21 17:03] kachkaev commented on #205
Many thanks @ardatan! The fix worked for me 🚀

[2019-07-21 20:17] Fi1osof commented on #205
@ardatan thanks!

[2019-07-23 23:46] ksaifullah opened #210 "Argument of type 'string[]' is not assignable to parameter of type 'ResolversDefinition<unknown>[]"
I have a typescript project where I'm following below instruction from readme:
---
Or automatically:

[code]

This means that you should be careful with Queries, Mutations or Subscriptions with naming conflicts.
---

And getting following error where I have `mergeResolvers()`:

Type 'string' is not assignable to type 'ResolversDefinition<unknown>'.

There is a conflict between what `fileLoader()`

[2019-07-24 00:31] ksaifullah commented on #210
Looks like the issue is coming from **graphql-toolkit** project where probably `loadSchemaFiles()` got changes recently.

[2019-07-24 04:00] ardatan commented on #210
Could you try the following version to see if works;
`1.6.2-bdaf070.0`

[2019-07-24 14:47] epictrave commented on #210
@ardatan I have same issue. I tried `1.6.2-bdaf070.0` but it show same problem.
`error TS2345: Argument of type 'string[]' is not assignable to parameter of type 'ResolversDefinition<unknown>[]'.
  Type 'string' is not assignable to type 'ResolversDefinition<unknown>'.`

[2019-07-25 02:47] ksaifullah commented on #210
Yep, same as @epictrave .
I would request to avoid `any` type, if possible.

[2019-07-28 10:23] TomBeckett commented on #210
Also hit the same issue. No luck with version 1.6.2-bdaf070.0.

[2019-07-29 07:43] ardatan commented on #210
Could you try `1.6.2-3705b28.0` instead?

[2019-07-30 00:21] ksaifullah commented on #210
Thanks @ardatan , `1.6.2-3705b28.0` works for me.

[2019-07-30 12:31] Urigo commented on #115
The library has been rewritten in Typescript now.
Any ideas about an easy way to support Flow?
How can we make it happen?

[2019-07-30 12:34] Urigo commented on #126
I don't see any reason why that wouldn't work in the new version.

Can you create a simple reproduction if that is not the case?

Thank you

[2019-07-30 12:34] #126 closed

[2019-07-30 12:51] Urigo commented on #190
@lastmjs @Renaud009 can you please try again with the new latest version?

If that won't work, can you create a reproduction or maybe even a failing test?

Thanks

[2019-07-30 12:53] Urigo commented on #197
Might be related this [this](https://github.com/ardatan/graphql-toolkit/issues/175)

[2019-07-30 15:49] kamilkisiela commented on #135
https://github.com/ardatan/graphql-toolkit/pull/188

[2019-07-30 18:49] kamilkisiela commented on #204
Should be fixed by https://github.com/ardatan/graphql-toolkit/pull/189

[2019-07-30 19:01] kamilkisiela commented on #159
Should be fixed by https://github.com/ardatan/graphql-toolkit/pull/189

[2019-07-30 19:01] kamilkisiela commented on #184
Should be fixed by https://github.com/ardatan/graphql-toolkit/pull/189

[2019-07-31 09:56] kamilkisiela commented on #135
Fixed with `v1.7.0`

[2019-07-31 09:56] #135 closed

[2019-07-31 09:56] kamilkisiela commented on #159
Fixed with `v1.7.0`

[2019-07-31 09:56] #159 closed

[2019-07-31 09:56] kamilkisiela commented on #204
Fixed with `v1.7.0`

[2019-07-31 09:56] #204 closed

[2019-07-31 09:56] kamilkisiela commented on #184
Fixed with `v1.7.0`

[2019-07-31 09:56] #184 closed

[2019-07-31 09:57] kamilkisiela commented on #210
Fixed with `v1.7.0`

[2019-07-31 09:57] #210 closed

[2019-09-10 21:19] konsumer opened #241 "Option for leaving off `schema`"
I am trying to use amplify to generate the boring parts of a CRUD interface. I want to merge a bunch of individual query files, but leave off the parent `schema` object so amplify can handle it (it seems to throw it off from making mutations or subscriptions, which breaks `@auth` and other things.)

Here is a code example:

[code]

typeDefs ends up having this:

[code]
even though there is no `Que

[2019-09-10 21:32] konsumer commented on #241
as a hacky workaround, I can do this:

[code]

Since I know it doesn't have a `Query`, but it'd be cool if I could just leave off `schema` in merge-graphql-schemas output (and it would allow me to write custom `Query` and `Mutation` fields.)

[2019-09-10 23:25] ardatan commented on #241
You can pass `schemaDefinition: false` in the options.
[code]

[2019-09-10 23:25] #241 closed

[2019-09-12 01:04] konsumer commented on #241
Sorry I missed that, and thanks!

[2019-09-24 07:24] Urigo commented on #115
closing as we've got no response.
If you still face an issue feel free to open a new issue

[2019-09-24 07:24] #115 closed

[2019-09-24 08:54] sorenhoyer opened #253 "Add option mergeDirectives to mergeTypes"
My usecase is that I use the apollo-server `@cacheControl` custom directive, but I also use merge-graphql-schemas to generate a schema for use in my Relay Modern frontend. Therefore I'd need to merge the apollo-server schema without it's custom server directives.

So I propose adding an option mergeDirectives to mergeTypes. mergeDirectives could in its simplest form just be a boolean you could set

[2019-10-01 06:31] ardatan commented on #253
Could you give an example to see what is not working properly.

[2019-10-22 11:51] Urigo commented on #190
closing as got no response

[2019-10-22 11:51] #190 closed

[2019-10-26 21:39] maidanskyi opened #269 "fileLoader: incorrect behavior loading js files"
Hi, guys!

I'm using this package within my TypeScript project.
**Problem:** `fileLoader` includes `*.js` and `*.js.map` files in bundle after compiling TS -> JS
**Expected behavior:** Do not include `.js.map` files.

So, I've used
[code]
in my `tsconfig.json`.
And here is my config for `fileLoader`:
[code]

[2019-11-01 05:57] ardatan commented on #253
Closing issue due to inactivity. Feel free to open again if it persists.

[2019-11-01 05:57] #253 closed

[2019-11-01 05:59] ardatan commented on #197
It is around `131.68KB` including `graphql` (which is common in all graphql packages); we also seperated  graphql-toolkit's functions into smaller packages. So it is better right now.

[2019-11-01 05:59] #197 closed

[2019-11-01 06:03] ardatan commented on #269
@maidanskyi Could you try with the following canary version?
`1.7.1-6dd08a4.0`

[2019-11-01 11:44] maidanskyi commented on #269
@ardatan I've checked and there is the same problem

[2019-11-04 02:21] ardatan commented on #269
@maidanskyi Could you try with this version one more time?
`1.7.1-7e201aa.0`

[2019-11-04 14:31] maidanskyi commented on #269
@ardatan yeah, now it works!)
That'll be great to merge it asap

[2019-11-05 06:39] ardatan commented on #269
Available in 1.7.2 !

[2019-11-05 06:39] #269 closed

[2019-11-05 08:25] Fi1osof opened #277 "Not merged comment for enum existing fields"
Source

[code]

Result
[code]

This worked before, as far as I remember.

[2019-11-05 20:34] ardatan commented on #277
Could you try with the following version?
`1.7.3-bdb2407.0 `

[2019-11-06 08:39] Fi1osof commented on #277
@ardatan , yes, with this one all works fine. Thanks!

[2019-11-06 08:39] ardatan commented on #277
Let's keep it open until we release new version :)

[2019-11-07 02:32] ardatan commented on #277
Available in 1.7.3 !

[2019-11-07 02:32] #277 closed

[2019-11-11 15:04] julianomqs opened #283 "Bad performance when loading resolvers with a glob pattern"
Hello,

I'm using `merge-graphql-schema` in my project and I noticed a bad performance when loading resolvers with a glob pattern.

It's a TypeScript project with Apollo Server for GraphQL and Objection.js for persistence.

The glob pattern is `src/**/*-resolver.ts`.

The folder structure is:

[code]

It takes almost 4 seconds to load those resolvers.

The resolvers are just some arrow functions d

[2019-11-11 15:30] ardatan commented on #283
@julianomqs I created a sandbox to reproduce your issue to see if there is a significant load time of `fileLoader`. There are 3 resolver and 3 typeDef files in this sandbox.
https://codesandbox.io/s/holy-hill-merwp?fontsize=14

[2019-11-11 17:33] julianomqs commented on #283
Sorry for not making a testcase earlier and troubling you.

Here I made a reproducible example:

https://github.com/julianomqs/merge-graphql-schemas-performance

Run `npm install` and `npm start`

You'll see the fileLoader is taking more than 3 seconds to read 3 resolvers in 3 folders.

Thank you.

[2019-11-13 17:47] ardatan commented on #283
I changed `fileLoader` line for resolvers like below;
[code]
It takes more than 3 seconds as well :)

[2019-11-13 18:31] julianomqs commented on #283
I found it, it was `ts-node` fault...

Sorry for taking your time, and thanks for your library.

[2019-11-13 18:31] #283 closed

[2019-12-02 11:19] Aeonrush opened #295 "GraphQLError: Syntax Error: Unexpected <EOF>"
Hi
I have an issue after upgrade from ```1,7.0``` to ```1.7.3```. Directives don't work but scalars works like expected

## Example
[code]

[code]
## Workaround

- Downgrade to ```1.7.0``` no issue.
- Place directives directly to GraphQLModule constructor ```typeDefs```
[code]
## Error
[code]

[2019-12-13 19:35] or2008 commented on #164
for anyone else having this issue, that was because __dirname was different on production build via webpack, check this for more info:
https://codeburst.io/use-webpack-with-dirname-correctly-4cad3b265a92

[2019-12-14 22:25] SinghRajKr commented on #210
Getting the same issue.
Argument of type 'string[]' is not assignable to parameter of type 'ResolversDefinition<unknown>[]'.
  Type 'string' is not assignable to type 'ResolversDefinition<unknown>'

[2019-12-14 22:28] SinghRajKr opened #297 "Argument of type 'string[]' is not assignable to parameter of type 'ResolversDefinition<unknown>[]'. Type 'string' is not assignable to type 'ResolversDefinition<unknown>'."
Getting error with following code for `mergeResolvers`
[code]

[2019-12-15 00:11] ardatan commented on #297
Why do you have your resolvers as `string[]`? Resolvers must be an object right?

[2019-12-15 06:14] SinghRajKr commented on #297
Thanks @ardatan
It worked after removing the type.

[2019-12-15 06:24] ardatan commented on #297
It depends on the reason why you need that.  In this code, it looks like you don't need that at all. You just load them and pass to `mergeResolvers`.

[2019-12-15 06:42] #297 closed

[2019-12-23 02:22] WilliamHuang1995 opened #304 "Add option to allow sorting of the fields when merging types"
First of all, what a great library.

I'd like to propose a feature request that allows the fields in a type to be sorted alphabetically.

That is, given two files:

[code]
[code]
the current result would merge the two graphql files into
[code]
but in reality I would want
[code]
Thanks for reading!

[2019-12-23 05:40] ardatan commented on #304
Implemented in https://github.com/ardatan/graphql-toolkit/commit/68e0cb4568613e67c0f1e96e330c791fc6afba8b

[2019-12-23 17:58] ardatan commented on #304
Available in 1.7.4!

[2019-12-23 17:58] #304 closed

[2019-12-23 19:45] peterhanneman opened #307 "Include path & filename for syntax errors label:enhancement"
Tracking down `GraphQLError: Syntax Error`s within projects with numerous type definition files with nested folder structures is unnecessarily tedious because the filename and path aren't included in the error along with the line number.

[2019-12-23 23:48] ardatan commented on #307
@peterhanneman I don't think this problem is related to this library. There is no parser logic in file loaders, it just loads the definitions as string. Also in schema and resolver mergers, it is not possible to know the source of the type definitions.

[2019-12-25 04:56] RabieZahid opened #308 "fileloader is not working."
I tried the basic implementation as follows, where I have a some _types_ defined in ._js_/_.graphql_ files within the **types** subdirectory.

`const typesArray = fileLoader(path.join(__dirname, "./types"))`

I get an empty array in response. If I manually import the files and merge them, it works. It just the fileLoader that fails to load the files. I'm using **"merge-graphql-schemas": "^1.7.4"**

[2019-12-25 05:54] RabieZahid commented on #308
It worked with a relative path from app root directory as follows:

`const typesArray = fileLoader('./src/graphql/types/*.graphql')`

Not sure if something got updated in **graphql-toolkit** but this way worked.

[2019-12-26 07:26] xie-zhichao commented on #308
I also got this problem, 1.7.3 is ok.

[2019-12-26 11:56] stamtech commented on #308
Hello Guys, same here, seems related to the last release of graph toolkit you are using in your last release.
("@graphql-toolkit/file-loading": "0.6.7" )

Switching back to 1.7.3 works fine

[2019-12-26 15:30] bigman73 opened #309 "1.7.4 breaks apollo-server"
I updated to 1.7.4 and apollo-server failed to run.
"Error: Unknown type "Query"."

Rolling back to 1.7.3 solved the problem - and that was the only change. Nothing was different otherwise, code or environment.
You may argue that this is an apollo-server issue, but the other issue with file loading failing, https://github.com/Urigo/merge-graphql-schemas/issues/308, seems to point to the same root

[2019-12-31 11:42] ardatan commented on #309
Could you try with `1.7.5`?

[2019-12-31 11:43] ardatan commented on #308
Could you try with `0.7.5`?

[2019-12-31 11:46] ardatan commented on #295
Could you try with `0.7.5`? And also you can pass loaded `typeDefs` to `GraphQLModule` definition like below. You don't need to wrap them with `gql` or merge them by yourself. GraphQL Modules already does that for you.
[code]

[2019-12-31 15:31] bigman73 commented on #309
Will do when I get back to work after the holiday is over and let uou know.

[2020-01-01 22:40] #307 closed

[2020-01-05 02:18] bigman73 commented on #309
UPDATE: v 1.7.5 seems to be working fine

[2020-01-05 07:08] liemdo commented on #309
I got a similar problem after upgrading to 1.7.5. My code worked just fine before upgrading

[code]

I got error `ReferenceError: describe is not defined` because the `fileLoader` loads files in `/tests`. The `globOptions` doesn't work anymore. Downgrading to 1.7.3 makes it work again.

[2020-01-05 08:51] ardatan commented on #308
Closing this issue. Feel free to open a new one if you still have problems :)

[2020-01-05 08:51] #308 closed

[2020-01-06 00:24] ardatan commented on #309
@liemdo Could you try with this canary version?
`1.7.6-feb3f52.0`

[2020-01-06 14:02] ardatan commented on #309
Available in `1.7.6`!
You can pass `ignore` globs in `globOptions`.

[2020-01-06 14:02] #309 closed

[2020-01-06 14:02] #295 closed

[2020-01-06 14:03] ardatan commented on #295
Closing this issue for now. Feel free to open again if it is still relevant.

[2020-01-06 14:08] Aeonrush commented on #295
Hi
With ```1.7.5``` everything works as expected
Thank you
Best regards

[2020-01-09 22:52] zingerj commented on #151
Hi @ardatan, what is the correct way to get this to work in react-native? Not really sure how to define "externals" since it doesn't use Webpack... @softglance were you able to get this to work?

[2020-01-14 03:18] nadilas commented on #149
Just to be sure, you solve this by running `gql()` on the return value of `mergeTypes`, correct?

[2020-02-04 01:49] webthil opened #343 "SyntaxError: The requested module 'merge-graphql-schemas' does not provide an export named 'mergeTypes'"

[2020-02-04 03:25] webthil commented on #343
[code]
If use like this got `TypeError: mergeTypes is not a function` error..

[2020-02-09 04:57] ostrebler opened #346 "TypeScript Error: Codegen resolvers don't satisfy constraint of mergeResolvers"
I generated my resolver typings with [GraphQL Codegen](https://graphql-code-generator.com/docs/plugins/typescript-resolvers) (with optionality set to true : not all fields require explicit resolvers), which basically outputs something like :

[code]

The problem is that this doesn't satisfy the constraint imposed by `mergeResolvers`, so this code :

[code]

produces the following TypeScript error

[2020-02-11 09:06] #343 closed

[2020-02-11 09:47] ardatan commented on #151
Do you have the problem with the following canary version?
`1.7.7-2266100.0 `

[2020-02-11 10:08] ardatan commented on #346
Could you enable this flag on the codegen and try again?
https://graphql-code-generator.com/docs/plugins/typescript-resolvers#useindexsignature-boolean-default-value-false

[2020-02-11 10:18] ostrebler commented on #346
It works but why ?

[2020-02-11 10:31] ardatan commented on #346
IResolvers of graphql-tools needs a index signature that doesn't exist in generated resolver typings of codegen by default.

[2020-02-11 14:25] #346 closed

[2020-02-14 23:14] zingerj commented on #151
Not sure as I went back to just using `graphql-tag` for now. Will update this thread if I try `merge-graphql-schemas` again in my react-native app.

[2020-02-16 12:27] VladimirTambovtsev commented on #210
Getting the same with <code>^1.7.6</code>

<code>Argument of type 'string[]' is not assignable to parameter of type 'ResolversDefinition<unknown>[]'.
  Type 'string' is not assignable to type 'ResolversDefinition<unknown>'.ts(2345)
</code>

[code]

[2020-02-27 18:17] josuevalrob opened #354 "Error: Unknown type "Query"."
This piece of code:
[code]

Return this:
schema {
  query: Query
}

Any idea why??

I got this error:

[2020-02-27 18:31] josuevalrob commented on #354
I found the problem. I am using ES6 and compiling with Babel to ES5:

This is my typedef file:

[code]

Is becaouse I am using this babel configuration:

[code]

How can I solve the proble??

[2020-02-27 19:09] josuevalrob commented on #354
But for some reason this config works fine:

[code]

[2020-02-27 19:09] #354 closed

[2020-04-05 15:49] eladnm opened #380 "Unknown type "Query""
I am getting the following error when trying to debug my project
[code]
I am not sure how to resolve this issue? can someone please point me what should I look and add?
Thanks

[2020-04-05 15:59] ardatan commented on #380
Could you share a reproduction repo?

[2020-04-05 17:46] eladnm commented on #380
Sorry I could only share part of the code.. What could be the cause of this error? The api works great but when using the vs code and node debugger

[2020-04-05 18:11] ardatan commented on #380
I am not sure. I need to reproduce it to see the reason.

[2020-04-06 18:05] eladnm commented on #380
please let me know what files to share as i cannot share all code

[2020-04-06 18:14] ardatan commented on #380
I cannot tell much but as I see in the stack trace it is not related to merge-graphql-schemas but graphql tools.

[2020-04-06 19:56] FranOnRails commented on #380
I have the same error, I used {all: true} and there was an error in a graphql tools function, I also think it is it.

[2020-04-06 20:55] ardatan commented on #380
@FranOnRails could you reproduce it in a repo?

[2020-04-07 06:44] eladnm commented on #380
to what file are you referring? where is this function located?

[2020-04-07 07:57] ardatan commented on #380
[code]

[2020-04-07 07:57] #380 closed

[2020-04-16 12:41] brettbullock opened #384 "@graphql-toolkit dependencies use deprecated module"
Affected version: v1.7.7

Merge-graphql-schemas uses 3 @graphql-toolkit dependencies:

- @graphql-toolkit/common
- @graphql-toolkit/file-loading
- @graphql-toolkit/schema-merging

In v1.7.7, the version sourced for these dependencies is v0.9.12, however this version seems to be using a deprecated graphql module.

My `package-lock.json`:
[code]

When trying to run my app I receive the following err

[2020-04-16 14:43] ardatan commented on #384
Fixed in 1.7.8!

[2020-04-16 14:43] #384 closed

[2020-04-16 16:49] brettbullock commented on #384
Thank you!!! Really appreciate the speed in resolving here.

[2020-05-04 20:30] dougg0k opened #399 "Q: Corretly merge in the order needed when files are out of declaration order."
Hello,

Is there a way to properly merge automatically when there are scenarios where you have many `.graphql` files and they might be using types that are out of declaration order?

Thanks!

[2020-05-04 21:03] #399 closed

[2020-05-25 13:52] ardatan commented on #151
This package is deprecated so you can use `@graphql-tools/merge` instead. It will solve your issue;
https://www.graphql-tools.com/docs/migration-from-merge-graphql-schemas

[2020-05-25 13:52] #151 closed

[2020-06-01 18:26] robross0606 opened #413 "Migration guide doesn't address all deprecated features"
I'm super confused as how to migrate from this package to graphql-tools since things like `fileLoader` or even `mergeResolvers` aren't addressed in the migration guide.  I think I see how to migrate `mergeResolvers` but what about `fileLoader`?

[2020-06-01 18:29] robross0606 commented on #413
Never mind, I just noticed `loadFiles` in the example.

[2020-06-01 19:10] robross0606 commented on #413
I'm still lost.  The usage of `loadFiles` is clearly different but I cannot seem to find any clear documentation.  My GraphQL files seem to be loading okay, but my resolvers are not loading as they did with this package.

[2020-06-01 20:06] ardatan commented on #413
Could you try to replace fileLoader with loadFilesSync?

[2020-06-01 20:23] robross0606 commented on #413
I already tried that.  That wasn't the problem.  I figured it out.  Just as with `mergeTypes`, you were proxying `loadFiles` with some options.

[2021-04-08 17:35] kumar303 opened #414 "Unable to merge GraphQL type ... undefined is not iterable (for a duplicate type)"
Using `merge-graphql-schemas@1.7.6`, I was trying to call something like:

[code]

I got an error like:

[code]

I was trying to introduce `type MyType {}` in `schema1.graphql` but that exact type already existed in `schema2.graphql`.

This error message should be more informative. RIP my last hour.

[2021-04-09 09:40] ardatan commented on #414
`merge-graphql-schemas` has been deprecated as you can see in https://github.com/Urigo/merge-graphql-schemas/blob/master/README.md We recommend you to start using GraphQL Tools instead;
https://www.graphql-tools.com/docs/migration-from-merge-graphql-schemas/

[2021-04-09 18:31] kumar303 commented on #414
Since I have the solution, I just wanted to post it here so that someone else could search and find it. I was trying to search for this error and not finding anything.

Ultimately, I'd hope the newer lib has a better error message but I'm not able to migrate my app at this time.

[2021-11-13 12:26] lukeypap opened #415 "TypeError: graphql.getDescription is not a function"
Got this error when trying to generate typings using the definitionsFactory.
UnhandledPromiseRejectionWarning: TypeError: graphql.getDescription is not a function

any ideas?

Thanks

[2021-11-13 12:30] #415 closed, assigned to nobody

[2021-12-04 21:28] evereq commented on #415
@lukeypap did you solve that issue?

We recently got a similar one after updating GraphQL related packages in a very large project...

Our stack trace is following:

[code]

I don't see how it's related to `merge-graphql-schemas` (more like in our case it's coming from `@nestjs\graphql`), but we are using `@graphql-tools/merge` too in our project... so not sure...

UPDATE: issue solved by downgrad

[2021-12-05 02:40] lukeypap commented on #415
@evereq

The only solution that worked for me too :)

[2021-12-09 09:24] ArtemKislov commented on #414
@kumar303

You have just saved me an hour :) thanks for the explanation!